[2016-01-14 04:47] kostya-sh opened #1 "Feedback on names"
I have only looked at the docs so far. My initial feedback is on naming. I think some types/methods could be named better. This is quite subjective of course but I will try to explain my choices.
- `decimal.Decimal`. Is one decimal in the type name not enough? I think `decimal.Number` or `decimal.Big` would be a better name. This also leaves the possibility to add fixed precision decimal types to

[2016-01-14 04:49] kostya-sh opened #2 "Missing basic functionality"
I believe the following basic functionality should be provided:
- [x] SetFloat(*big.Float)
- [x] Float() *big.Float
- [x] SetRat(*big.Rat)
- [x] Rat() *big.Rat
- [ ] `CmpTotal` - http://speleotrove.com/decimal/damisc.html#refcotot
- [x] fmt.Printf support (%s, %g, %f)

---
## From #5:

I think the library should provide the following functionality:

To String
- [x] String() - scientific string rep

[2016-01-14 04:51] kostya-sh opened #3 "Possibly not needed functionlity"
Generally I think that a library should provide only one way of doing something. Also more functionality means more tests, more maintenance effort, more bugs, etc. So I will list methods that I think you can safely remove from this library (they can always be re-added later):
- `GreaterThan`, `GreaterThanEQ`, `LessThan`, `LessThanEQ`, `Equals` - `Cmp` should be enough
- `Binomial`, `Fib`, `MulRang

[2016-01-14 04:57] kostya-sh opened #4 "Error handling (panics, nan, inf)"
I think that a library like decimal should never panic. Generally inputs can come from users (e.g. from an HTML form) and it is much nicer to have an ability to handle errors without using recover or pre-validating decimals before each operation.

Have a look at `math/big.Accuracy`, I think it is better to use it instead of `bool` or `error` where it makes sense. E.g. https://golang.org/pkg/math/b

[2016-01-14 07:45] ericlagergren commented on #4
I never felt good about the panics myself. They were in there primarily because I had not worked on incorporating `+/- Inf`, which leads me to...

Yes. I've been working on this tonight and am planning on following the IEEE 754 `Inf` rules much like the `math` package does.

[2016-01-14 08:01] ericlagergren commented on #3
Fair enough.

I like these functions/methods -- I think they could be in their own package but they'd need more support. Perhaps if I added trig functions like sin, cos, tan, etc?

Similar to the above, I think they could be useful. Perhaps if I had a package with various math functions I'd add them...

Gone since `encoding/json` calls `MarshalText` if the type implements it. I think those methods

[2016-01-14 08:02] ericlagergren commented on #2
Will definitely add these.

[2016-01-14 08:18] ericlagergren commented on #1
I do like the idea of having multiple decimal types. (Decimal32 and friends would be a _lot_ faster than the current implementation, although it'd sacrifice some accuracy.) I think I could move this to a `math` repo and have `Decimal`, `Decimal128`, etc types.

~~Will change, yes.~~

Done.

It's from IEEE 754 decimal types... I'm not sure how to rename them since it's nearly verbatim from the spec

[2016-01-15 02:43] kostya-sh opened #5 "To/From string conversion"
I think the library should provide the following functionality:
### To String
- `String()` - scientific string representation as per http://speleotrove.com/decimal/daconvs.html#reftostr
- fmt.Frintf support (https://golang.org/pkg/fmt/)
  - `%e` - scientific string (same as String())
  - `%f` - fixed string (with precision support, e.g. %.2f)
  - `%g` - %e or %f
  - `%s` - String()
  - `%v` - inte

[2016-01-15 02:44] kostya-sh commented on #1
While it might happen in the future I doubt that you will be able to move the code exactly as it is without any changes and API clean up. Having a package with nice names that can be used with all versions of Go now is more important IMHO.

Not sure about good names either. But will think about it.

See #5

[2016-01-15 02:47] kostya-sh commented on #4
BTW, math/big.Float doesn't support NaN. There is https://golang.org/pkg/math/big/#ErrNaN instead. Probably your library should use the same approach.

[2016-01-15 02:48] kostya-sh commented on #5
You can use https://github.com/kostya-sh/go-decimal-proposal/blob/master/big2/decimalconv_test.go and https://github.com/kostya-sh/go-decimal-proposal/blob/master/big2/tosci_test.go to test to/from string conversion. These tests are quite comprehensive.

[2016-01-15 03:07] kostya-sh commented on #3
The main reason I think methods like Binomial or Hypot shouldn't be provided is because Decimal has very limited use case. Mostly accounting calculations. I suspect 99.9% of users of you library won't use these methods. If you need to calculate Binomial it is better to use big.Int (and probably faster). If you need to calculate Sin, Cos, Hypot, etc it is better to use float64 (much faster) or big.

[2016-01-15 03:43] ericlagergren commented on #4
Yeah. I'm curious how I'd handle cases like -Inf + -Inf where (to my
knowledge) IEEE dictates the result should be NaN.

I'd like to get away from NaN, though, since +/- Inf should be good enough
(I think).
On Thu, Jan 14, 2016 at 6:47 PM kostya-sh notifications@github.com wrote:

[2016-01-15 03:49] ericlagergren commented on #3
I assumed precision was the # of digits after the radix.

I should've read the entire decimal spec before I decided to name things 😉

Makes sense!

I noticed GCC reimplemented the float library for decimal. Hmmm...

So much code I can write now! 😁
On Thu, Jan 14, 2016 at 7:08 PM kostya-sh notifications@github.com wrote:

[2016-01-15 04:27] kostya-sh commented on #4
From https://golang.org/pkg/math/big/#Float.Add:

[2016-01-15 04:39] kostya-sh commented on #3
I should admit that this is how I understood it as well before reading the spec ;)

[2016-01-15 05:00] ericlagergren commented on #4
I wonder if it's worth adding traps to the Context so the user can decide
whether they want to have quiet or signaling NaN.

There could be a flag (defaults to signaling?) that determines the behavior
of operations that result in NaN.
On Thu, Jan 14, 2016 at 8:27 PM kostya-sh notifications@github.com wrote:

[2016-01-15 05:02] ericlagergren commented on #3
Ha! I'll make it my weekend reading to grok the entire spec.
On Thu, Jan 14, 2016 at 8:39 PM kostya-sh notifications@github.com wrote:

[2016-02-01 12:33] patrickToca opened #6 "You readMe usage/example has an error."
You should replace:
...**Quo**(total, preTax)
by,
....**Div**(total, preTax)

See last line of the example:
fmt.Println("Tax rate:", new(decimal.Decimal).Sub(total, preTax).**Quo**(total, preTax)

[2016-06-21 06:39] hnakamur opened #7 "Could you add LICENSE file?"
First of all, thanks for creating and sharing a nice software!

Could you add LICENSE file?
The following page may help for choosing a licnese.
[Choose an open source license - Choose a License](http://choosealicense.com/)

I hope you choose a permissive license like MIT or Apache.
Thanks!

[2016-06-21 18:13] ericlagergren commented on #7
License got deleted by accident. It used to be (and still is) BSD. Proof: https://github.com/EricLagergren/decimal/blob/2a8092a629d1e90338cbca74ecf31a15ee192843/LICENSE

I'll add it in later. I'm working on some changes right now including a couple bug fixes. Haven't had much free time lately, sorry.

[2016-06-27 20:44] ericlagergren opened #8 "Quo generates incorrect results for small division"
// +build ignore

package main

import (
    "fmt"

[code]

)

func main() {
    v1 := decimal.New(1, 0)
    v2 := decimal.New(10, 0)
    v3 := decimal.New(100, 0)

[code]

}

[2016-06-27 20:44] #7 closed, assigned to nobody

[2016-06-27 20:44] #8 closed, assigned to nobody

[2016-06-27 20:47] #6 closed, assigned to nobody

[2016-06-27 21:41] hnakamur commented on #7
Thanks!

[2016-07-13 21:46] ericlagergren commented on #1
I think I have accomplished most, if not all, of these :)

[2016-07-13 21:46] #1 closed, assigned to nobody

[2016-07-13 21:47] ericlagergren commented on #3
The math/ subpackage now exists!

[2016-07-13 21:47] #3 closed, assigned to nobody

[2016-07-13 21:48] #5 closed, assigned to nobody

[2016-07-13 21:56] ericlagergren commented on #4
I do not think I want to implement `Accuracy`. I'm not quite sure what benefit it adds, tbh.

[2016-07-13 21:56] #4 closed, assigned to nobody

[2016-09-05 22:21] ericlagergren commented on #2
@kostya-sh would you be willing to work on implementing exp/decimal with me? You were very helpful with this implementation and I need an additional contributor before exp/decimal can be opened, so I figured I'd ask you first.

[2016-09-06 15:56] kostya-sh commented on #2
Hi Eric,

I would love to help but realisticly I do not have much time right now.
Having said that I am still ok to review the code and maybe do some
testing.

Cheers,
Konstantin

On Sep 5, 2016 23:21, "Eric Lagergren" notifications@github.com wrote:

[2016-09-06 17:14] ericlagergren commented on #2
@kostya-sh Understood! If it's something you want to do (reviewing or testing or whatever you'd like) the CL is: https://go-review.googlesource.com/#/c/25146/

Also, thanks again for your earlier help, it was very much appreciated. :smiley:

[2016-09-07 07:04] kostya-sh commented on #2
I have added a few comments to start with. I think it would be good to have a description of possible big.Decimal values and overview how result of all operations is rounded depending on context. Something similar to https://golang.org/pkg/math/big/#Float and https://docs.oracle.com/javase/8/docs/api/java/math/BigDecimal.html

Also I suggest to add @griesemer as a reviewer for this CL. He worked o

[2016-09-07 15:32] ericlagergren commented on #2
Thank you for the comments, I'll have a look when I get into work today.

At first I assumed I needed a reviewer from Google, but adg simply said
"contributor" so I took that to mean anybody. I'm a bit confused.

Thanks for the griesemer@ suggestion.
On Wed, Sep 7, 2016 at 12:04 AM kostya-sh notifications@github.com wrote:

[2016-12-06 07:43] madelynnblue opened #9 ""suite" tests"
There are many tests in the suite directory. But I can't find where they are actually tested. Was your work there preliminary?

Also what are your thoughts on http://speleotrove.com/decimal/ which appears to be a similar project from IBM, but with other coverage?

[2016-12-06 07:48] madelynnblue opened #10 "log, exp"
What's the status of log and exp? They are commented out. Are they broken, not sufficiently tested, too slow?

[2016-12-06 19:28] ericlagergren commented on #9
preliminary, yes. suite/ is working, but I've yet to write tests that utilize that sub package yet.

Speletrove's decimal library is similar, yet different. He outlines several different types and I try to model my library after his spec (http://speleotrove.com/decimal/decarith.html) without following a particular implementation.

[2016-12-06 19:33] ericlagergren commented on #10
_to wit_ their implementation is not 100% correct. I had previously written both Exp and Log for the initial version of this package, and the functions weren't drop-in ready for the updated version I released a while back.

If I remember correctly (I haven't had much time to work on them this last month or so) they weren't wholly incorrect, but the results weren't accurate to N digits of precision

[2016-12-07 19:51] madelynnblue opened #12 "rounding with lossless operations"
Some operations like addition can be performed without loss of precision. What are your thoughts about instead respecting the context's precision during these operations, which would round after all operations? A precision of 0 would keep the current behavior to not round.

For example, with a precision of 3:

100 + 0.1 = 100

Benefits to this approach:

- Some algorithms for computing pow involve

[2016-12-07 21:05] ericlagergren commented on #12
For those operations I manually round.

My only issue with implementing this is whether it's intuitive or not. I'm also not aware of another major library that rounds lossless operations like addition. I'm open to it.

[2016-12-07 21:26] madelynnblue commented on #12
Python does:

[code]

Output:

[code]

[2016-12-07 23:39] ericlagergren commented on #12
hmmm... well, if it's in speletrove's spec then I suppose I'll have to go with it!

[2016-12-08 03:14] madelynnblue commented on #12
There are other options like having two precision fields: one for lossy operations and one for lossless operations. This would allow the API to stay the same with an option to enhance when desired. I'm less a fan of this, but it is a possibility.

The other difficulty comes along because in python there's a global context, and it is consulted when performing operations. Here we have 2 decimals and

[2016-12-08 03:17] ericlagergren commented on #12
I'm on my phone so Ill expand when I get home but convention is to use the
receiver's precision.
On Wed, Dec 7, 2016 at 7:14 PM Matt Jibson <notifications@github.com> wrote:

[2016-12-08 06:50] ericlagergren commented on #12
I'm opposed to having two fields: that seems a bit unwieldy, not to mention adding extra space (well, possibly—unsure about alignment).

like my previous comment said, the receiver dictates the precision, rounding mode, etc.

I'm fine with having rounding, especially since speletrove's spec says:

so, sounds good to me!

[2016-12-13 14:16] morriswinkler-simple opened #14 "problem while go get decimal the way the readme suggests."
I got a recent go 1.7.4

[code]

resolves into the following message

[code]

the way it works is

[code]

please update your readme

[2016-12-13 19:05] #14 closed, assigned to nobody

[2016-12-13 19:08] ericlagergren commented on #14
thanks

[2016-12-14 05:49] ericlagergren commented on #12
@mjibson is this something you would like to contribute? curious whether I need to put this on my radar or not.

[2016-12-14 07:35] madelynnblue commented on #12
After doing some research I've decided to go another way, so I'm not going to be working on this feature now, no. I'll leave this open if you're planning on working on it.

[2016-12-14 07:35] #10 closed, assigned to nobody

[2016-12-14 07:35] #9 closed, assigned to nobody

[2016-12-14 07:39] ericlagergren commented on #12
another way with cockroachdb?

Anyway thanks for the modf PR. Cheers.

[2016-12-14 10:02] morriswinkler-simple commented on #14
No problem, by the way, i have real difficulties on how to figure out how to round to n digits of the fraction of a decimal.

In the moment I use

[code]
Is it just my stupidity or is this the way to go ?

[2016-12-14 19:44] ericlagergren commented on #14
Yeah, it's the way to go for now. I know it's unwieldy—it's a bit of an artifact of decimal libraries. Most specs only have the concepts of _precision_ and _scale_, neither of which explicitly refer to the trailing digits.

What are you rounding for? I'm considering something like, e.g., a RoundTo function which rounds toN N decimal places.

[2016-12-15 08:08] morriswinkler-simple commented on #14
I am Rounding to two digits of the fraction part, Big.RoundScale would be more understandable ( at least for me). The case I use it for is connected to prices, so at some point, I always need to round the fraction part to one hundredth ( eq 0.00). From my perspective, it would be convenient to be able to explicitly round the scale part.

How is it going with the effort to get that into the golang

[2016-12-15 19:28] ericlagergren commented on #14
Same.

Eh. I have not found a reviewer yet. adg (I think) created an issue a while back about whether more libraries should be added to exp/, so it's not looking good tbh.

[2017-02-20 12:53] rif opened #15 "Bad Cmp result"
Hi, I just switched from doing floating point to you excellent decimal lib.

In the test I reached a point where I have this:
t.Log(result.Cost.Cmp(expected.Cost), expected.Cost.String(), result.Cost.String())

with this wrong result:
1 2701 2701
The expected cost is created as decimal.New(2701, 0) and the result comes from the tested function.
If you need other info please let me know!

Thanks,
-

[2017-02-20 21:14] rif commented on #15
I printed the internals if it helps:
[code]

Some other values with similar problem:
[code]

[2017-02-21 03:52] ericlagergren commented on #15
can you reproduce this on the dev branch?

[2017-02-21 03:52] ericlagergren commented on #15
I ask because I think the fix is on the dev branch atm.

[2017-02-21 06:26] rif commented on #15
I confirm  that the dev branch fixes the first problem (the one with 2701) but the second one with 1810.5 is NOT fixed. Also I got two other tests that fail: before the result was 0.3 after a Round(9) and now it's 0.300000001

[2017-02-21 06:31] ericlagergren commented on #15
could you post minimal repros for the bugs?

[2017-02-21 06:33] rif commented on #15
unfortunately not, I will try to push a test on your dev branch.

[2017-02-21 06:43] ericlagergren commented on #15
okay. I can't begin debugging this until I have a couple test cases to look at.

[2017-02-21 07:18] rif commented on #15
Would this type of test help?

[code]

[2017-02-21 07:41] rif commented on #15
So I added this test on the dev branch and on my machine there are three tests failing:

[code]

[2017-02-21 19:03] ericlagergren commented on #15
ahhh I see the problem, thanks.

[2017-02-22 12:32] rif commented on #15
I confirm that the above issues are fixed but now I encountered:
[code]

[2017-02-22 13:22] rif commented on #15
[code]

[2017-02-22 19:26] ericlagergren commented on #15
I actually think a bad test case is why this is goofed.

[2017-02-22 19:28] ericlagergren commented on #15
yeah, this https://github.com/ericlagergren/decimal/commit/63aaff26e9ab8a32b0e6e5ad433a91df837de379#diff-e035ddc6d9eb583a74a989c446aad535R168 was causing my tests to be wrong so the resulting code was wrong.

[2017-02-22 19:33] #15 closed, assigned to nobody

[2017-02-22 19:35] ericlagergren commented on #15
@rif if this is still an issue feel free to reopen.

[2017-02-22 20:06] rif commented on #15
All good on my side now. Thanks again!

[2017-02-22 20:20] ericlagergren commented on #15
Thank you!

[2017-02-23 01:04] wmacgyver opened #17 "SetFloat in README.MD"
In README.MD

you have

.SetFloat(3)

shouldn't it be

.SetFloat64(3)  ?

[2017-02-23 08:22] rif opened #18 "Float64()"
Is a method like (*Big) Float64() float64 out of the question?
I would use that mostly for formatting using strconv.FormatFloat(). Currently to use that I would use String() than ParseFloat than FormatFloat.
Is there an easier workaround?

[2017-02-23 19:15] ericlagergren commented on #18
`Float64` is on my todo list, although in your case it seems you might benefit from a `FormatFloat(x *Big, fmt byte, prec, intSize int) string` function. How are you formatting the float?

[2017-02-23 19:28] rif commented on #18
sometimes I need a fixed number of digits after the decimal point e.g. 0.01 as 0.0100

[2017-02-23 19:37] ericlagergren commented on #18
I think I could solve that problem by finishing https://github.com/ericlagergren/decimal/blob/c37ac6f12cd2136615dee587edb8acd75f8e3271/decimal.go#L466

[2017-02-23 19:42] rif commented on #18
I'll be grateful for any solution you provide :) (I am sure it will be better than what I am doing right now)

[2017-03-09 13:11] rif opened #19 "Negative Cmp"
I have this new issue, Cmp should return -1, right?
[code]

[2017-03-15 15:47] rif commented on #19
Can I do something to help with this?

[2017-03-16 21:08] ericlagergren commented on #19
yeah! If you want to tackle this I'd be much obliged. I haven't had a free moment to work on this yet, sorry. :/

[2017-03-16 21:09] ericlagergren commented on #18
Update: I am partway through a fmt.Formatter solution so you can format decimals with fmt.Sprintf

[2017-03-16 21:09] ericlagergren commented on #17
Thanks!

[2017-03-16 21:17] rif commented on #19
I was hoping that you'll realize quickly what the problem is as there are a lot of cases where negative numbers are not compared correctly, e.g. even if I go for -40(with scale) and -20

[code]
[code]

[2017-03-16 21:31] ericlagergren commented on #19
I use abscmp, that's why. derp.

[2017-03-16 21:34] #19 closed, assigned to nobody

[2017-03-16 22:25] rif opened #20 "Int64"
I have another one to report (hope still a quick one). Int64 fails but if we do Int().Int64() than it's OK:

[code]
[code]

[2017-03-26 21:22] ericlagergren commented on #20
this is expected behavior. Int64 is undefined if x cannot fit into an int64, and the multiplication makes it larger than an int64. I suppose I could (internally) call Int().Int64() if x is larger than an int64...

[2017-06-30 11:46] morriswinkler-simple opened #21 "se of internal package not allowed"
for some reason I get

[code]

[2017-06-30 17:56] ericlagergren commented on #21
lowercase 'ericlagergren'

[2017-07-17 23:33] ericlagergren commented on #21
@morriswinkler-simplesurance is it alright if I close this?

[2017-07-18 08:55] morriswinkler-simple commented on #21
Yes sure, thanks for asking, very kind.

[2017-07-18 08:55] #21 closed, assigned to nobody

[2017-07-18 10:06] ericlagergren commented on #21
just wanted to make sure it was fixed for you :-)

[2017-09-27 01:13] ericlagergren opened #23 "add more, complex examples"

[2017-09-27 01:14] ericlagergren commented on #18
Hi, I know it's been a while but fmt.Formatter has been merged :-)

[2017-09-27 01:14] #18 closed, assigned to nobody

[2017-09-27 01:14] #17 closed, assigned to nobody

[2017-09-27 01:20] #20 closed, assigned to nobody

[2017-09-27 01:20] ericlagergren commented on #20
fixed in 1.0

[2017-09-27 01:22] ericlagergren opened #24 "fully document differences between OperatingModes"

[2017-09-27 01:26] ericlagergren opened #25 "get rid of allocation on Sub"
`Sub` is basically `Add(x, new(Big).Neg(y))`, which allocates. Write it so it doesn't allocate.

[2017-09-27 01:26] ericlagergren opened #26 "determine whether a pool of big.Ints has a performance boost"
Right now we allocate `big.Ints` in several places. A pool might make more sense.

[2017-09-27 01:28] ericlagergren opened #27 "don't allocate Bigs inside the arithmetic methods"
Several arithmetic methods (xxxMixed) allocate a `Big` and then call xxxBig. Don't do this, instead pass the relevant arguments.

[2017-09-28 04:49] ericlagergren commented on #26
update: it does.

[2017-10-02 02:44] ericlagergren opened #32 "add API for editing Context.Err and Context.Conditions"
`math/` needs to be able to correctly set signals and such when errors happen.

[2017-10-02 03:31] ericlagergren opened #33 "SetString should recognize diagnostic NaN values"
Not sure I want to support them, but it should at least parse like `NaN123`.

[2017-10-02 03:34] ericlagergren opened #34 "SetFloat64 treats Inf like NaN"

[2017-10-06 22:47] ericlagergren opened #35 "math: add Sqrt, Hypot"
- [x] Sqrt
- [x] Hypot

[2017-10-13 17:56] ericlagergren opened #36 "get rid of allocation in UnmarshalText"

[2017-10-13 18:01] ericlagergren opened #37 "use xflow instead of if/else"

[2017-10-14 00:30] #32 closed, assigned to ericlagergren

[2017-10-14 00:30] #34 closed, assigned to ericlagergren

[2017-10-14 00:30] #33 closed, assigned to ericlagergren

[2017-10-14 00:30] #37 closed, assigned to ericlagergren

[2017-10-19 07:21] #12 closed, assigned to ericlagergren

[2017-10-19 07:21] #24 closed, assigned to ericlagergren

[2017-10-19 07:21] #27 closed, assigned to ericlagergren

[2017-10-19 07:22] #26 closed, assigned to ericlagergren

[2017-10-19 07:27] ericlagergren commented on #25
https://github.com/ericlagergren/decimal/commit/2bba97ce47c396a50055352e1b767882a7108053

[2017-10-19 07:27] #25 closed, assigned to ericlagergren

[2017-10-19 07:28] ericlagergren opened #38 "add fmt.Scanf support"

[2017-10-19 07:29] ericlagergren opened #39 "add 'compare total' method"
Basically give ordering to NaNs: http://speleotrove.com/decimal/damisc.html#refcotot

[2017-10-19 07:29] ericlagergren commented on #2
added specific issues for the remaining two. Thanks @kostya-sh

[2017-10-19 07:29] #2 closed, assigned to ericlagergren

[2017-10-19 07:30] ericlagergren commented on #36
might need some sort of `scanString(r io.Reader)` method.

[2017-10-19 07:30] #35 closed, assigned to ericlagergren

[2017-10-20 10:28] SchumacherFM opened #40 "Benchmarks PI add github.com/shopspring/decimal"
Hey Eric,

would love to see github.com/shopspring/decimal as an additional comparison in the PI benchmark.
I've tried it myself ... but failed :-(

Thanks, Cyrill

[2017-10-20 22:08] #39 closed, assigned to ericlagergren

[2017-10-20 22:08] #40 closed, assigned to nobody

[2017-10-20 22:09] ericlagergren commented on #40
Done, thanks for the suggestion.

[2017-10-20 22:30] #38 closed, assigned to ericlagergren

[2017-10-20 22:31] ericlagergren opened #41 "get rid of allocation in Scan"

[2017-10-21 08:49] SchumacherFM commented on #40
Thanks! Very interesting how slow shopspring is. Makes me to favor your package.

[2017-10-24 23:18] ericlagergren opened #43 "Explore x.unscaled.BitLen() / log10(2) for x.Precision() when !x.isCompact()"
There currently exists a hard limit of a precision of `4294967295` because our algorithm overflows if `x.BitLen() > 14267572532`, where `x` is the unscaled value of a non-compact `Big` decimal.

There are multiple ways to calculate the precision using iteration, but it'd be nice if `float64(x.BitLen()) / (log10/log2))` provided a reasonable-enough value we could use it for instances where we have

[2017-10-30 09:46] rdingwall opened #44 "Round to a different scale?"
Hello! Apologies if this is a very basic question, but I'm writing a financial application and trying to use `decimal.Big` to round an amount $0.009 to the nearest whole penny ($0.01). In this case the precision stays the same (1) but the scale changes (from 3 to 2).

[code]
I'm not quite sure how to achieve this because [big.Round()](https://godoc.org/github.com/ericlagergren/decimal#Big.Round) o

[2017-10-30 20:05] #44 closed, assigned to nobody

[2017-10-30 20:06] ericlagergren commented on #44
Boom! No, you weren't being stupid. Unfortunately, I had neglected to add `Quantize` which basically means "give me N decimal places." But, here you are. Thanks for prompting me—it had been on my TODO list but should've been higher.

[2017-10-30 21:47] cakey commented on #44
@ericlagergren Awesome! I was literally looking for this last week :) Thank you!

[2017-10-30 22:45] rdingwall commented on #44
Amazing! Thank you @ericlagergren! 😃

[2017-10-30 23:47] ericlagergren commented on #44
@cakey @rdingwall cheers. BTW I just pushed a quick update: I had the signs for the input to `Quantize` backwards. So, now `Quantize(2)` means 2 digits after the radix, not -2.

v3.0 which will codify all this will be out soon ish. Few performance issues to fix first.

[2017-10-31 05:00] ericlagergren opened #45 "add feature parity table to benchmarks"
benchmarks can differ because some libraries implement less of the GDA spec. this should be logged as well.

[2017-10-31 07:45] ericlagergren opened #46 "verify 32-bit support"
Right now the tests are set up for 64-bit platforms (the min/max exponents in the test suite are too large for 32-bit).

All the tests "pass" with `GOARCH=386` to the extent that the arithmetic returns correct results. The signs, exponents, and such are wonky and incorrect because the test suite assumes the results can be larger than they're supposed to be.

[2017-10-31 07:48] ericlagergren opened #47 "add verisioning to README"
mention how the project uses versioning

[2017-10-31 07:54] ericlagergren opened #48 "migrate more tests to suite"
- [x] Neg
- [x] Rat
- [x] Sign
- [x] Signbit

[2017-10-31 07:54] ericlagergren opened #49 "enhance specific (non-GDA) tests with autogenerated numbers"
- [x] Float
- [x] IsUint64
- [x] Int
- [x] Int64
- [x] IsInt

[2017-11-01 06:39] ericlagergren opened #50 "internal/arith: use big.Int.CmpAbs when 1.10 lands"
See https://github.com/golang/go/issues/22473

[2017-11-01 23:07] #50 closed, assigned to nobody

[2017-11-01 23:48] #47 closed, assigned to ericlagergren

[2017-11-02 08:26] ericlagergren commented on #48
https://github.com/ericlagergren/decimal/commit/87ef8487f0f0e2dd1f53d84200b938ac739dce23

[2017-11-02 08:26] #48 closed, assigned to ericlagergren

[2017-11-03 08:25] #36 closed, assigned to ericlagergren

[2017-11-03 08:25] #41 closed, assigned to ericlagergren

[2017-11-10 20:33] kdar opened #51 "SetMantScale doesn't set compact when value == 0"
This bit of code prints out 1 because compact is still set to 1.

[code]

[2017-11-10 21:09] ericlagergren commented on #51
Don't worry, it's just a printing bug. Thanks for letting me know. :-)

[2017-11-15 05:04] aarondl opened #52 "Lint and cyclo errors"
Hey there, was just looking at this library as something to include in sqlboiler for decimal support instead of shopspring/decimal (they have some really scary issues still opened). Do you think it'd be a good fit for something like that? Mostly users would be using it for financial dealings. I'm going to file another issue on the lack of marshallers on this project too, I have a feeling that the

[2017-11-20 03:48] ericlagergren commented on #52
@aarondl hi, sorry for the delay. I was on vacation without cell service :-)

yep! Should work fine. `MarshalText` does the same thing as `String`. There are a variety of options using the `fmt.Formatter` interface. If you want an example for database use, look at `sql/` subpackage. There's a wrapper for PostgreSQL. I'd love to add support for other databases you might have in mind. I only regular

[2017-11-20 03:52] ericlagergren commented on #52
With respect to the lint warnings, I'm fine with them. Excluding the warnings from `internal/`, most of the warnings have to do with me mimicking `math/big`'s receiver conventions: you'll get the same warnings if you run `go lint` there, too. Thanks for posting about it, though!

[2017-11-24 20:34] ericlagergren commented on #51
fixed in https://github.com/ericlagergren/decimal/commit/bc5a2dfe4cb4ce5c42bfb557eda3f5a894704e33

[2017-11-24 20:34] #51 closed, assigned to nobody

[2017-11-27 03:50] ericlagergren commented on #52
@aarondl hey man, just wanted to make sure I answered your questions and, if so, whether you're fine with me closing this issue. Cheers.

[2017-11-27 21:01] kdar opened #53 "Compilation errors on tip (251aad2fc906ece085f121a463eb28a0ee6fda6f)"
[code]

[code]

Seems to be failing on Travis as well.

[2017-11-27 22:28] #53 closed, assigned to nobody

[2017-11-29 08:12] ericlagergren commented on #52
let me know if you have any more questions.

[2017-11-29 08:12] #52 closed, assigned to nobody

[2017-11-29 08:13] ericlagergren commented on #23
this is too general of an issue.

[2017-11-29 08:13] #23 closed, assigned to ericlagergren

[2017-11-29 08:15] ericlagergren commented on #45
is in parity.md in the root of the project

[2017-11-29 08:15] #45 closed, assigned to ericlagergren

[2017-12-05 09:34] ericlagergren opened #54 "Should IsBig be replaced with IsUint64, IsInt64?"
I've found myself wanting to check whether x can fit in an int64 or uint64 (the former more than the latter), rather than whether it's resigned to a big.Int.

This pattern appears a lot:

    if x.IsInt() && !x.IsBig() { /* handle x as an int64 or uint64 */ }

It might be worth dropping IsBig and replacing it with IsInt64 and IsUint64.

[2017-12-15 02:45] #54 closed, assigned to ericlagergren

[2017-12-25 17:38] nathanhack opened #55 "trig functions"
The usual suspects are really needed.
cos, sin, tan, arccos, arcsin, arctan, and atan2.

[2017-12-26 20:27] ericlagergren commented on #55
yep! they are on my TODO list. They likely will be implemented similarly to the `Tan` example; i.e., as continued fractions.

[2017-12-27 10:40] tapir opened #56 "go get fails"
Is this package considered stable?

[code]

[2017-12-27 10:51] tapir commented on #56
Looks like due to go 1.8.1 I've upgraded to 1.9.2 and the problem is gone.
Maybe there should be something on the Readme that says the minimum required Go version is 1.9?

Thanks closing this now

[2017-12-27 10:51] #56 closed, assigned to nobody

[2017-12-27 13:33] tapir opened #57 "String() method is slow"
I've been using shopspring/decimal until now and I've recently switched to this one. Quick benchmarks show that my apps arithmetic related methods just got faster 3 times. (Thanks!) However after all the operations are finished I'm writing this data in bulk to an SQL database and at that point conversion to string via big.String() is 2 times slower compared to shopspring's decimal library.

Is the

[2017-12-28 06:13] ericlagergren commented on #56
ah, yeah. I've been meaning to update the readme to mention that I only plan on supporting the versions Go does. thank you for reminding me.

[2017-12-28 06:18] ericlagergren commented on #57
Do you have some benchmarks I could look at? Or at least some examples of the types of decimals you're using. The to/from string code hasn't been optimized very much, so it's something I should look into.

[2017-12-28 12:07] tapir commented on #57
After a long time of not being able tor reproduce this I've noticed that it was actually due to a bug on my code. Closing, thanks very much

[2017-12-28 12:07] #57 closed, assigned to nobody

[2017-12-28 19:05] tapir opened #58 "Question about quantize and rounding modes"
I'm trying to understand the Banker's round mode and how quantize() works. Below is my example
[code]
I would expect this to produce
[code]
but instead I get
[code]

Is this expected? Am I missing something?

Thanks

[2017-12-28 21:05] ericlagergren commented on #58
It's how `SetFloat64` interprets its input. Base-2 floating-point numbers (`float64`, etc.) cannot exactly represent all numbers. To see what I mean, try this

    y := 2.335
    fmt.Printf("%.24g\n", y)
    x.SetFloat64(2.335)
    fmt.Printf("%g\n", x)

There's really no way around this. If you want exact inputs you'll either need to use `SetString`, `SetMantScale`, etc.

With respect to the diff

[2018-01-03 18:05] tapir commented on #58
understood thanks

[2018-01-03 18:05] #58 closed, assigned to nobody

[2018-01-03 18:07] tapir opened #59 "Question about copy and how it affects string output"
Below is a small example and it's output

[code]

[code]

I was wondering why I'm seeing a scientific notation when I do a copy?

Thanks

[2018-01-03 21:52] ericlagergren commented on #59
When converting a decimal to a string, the GDA spec says to convert the decimal to scientific notation _unless_ the exponent (i.e., the negated scale) is <= 0 _and_ the adjusted exponent (i.e., the exponent plus the length of the coefficient minus one) is >= -6. This is the default behavior for the `String` method, assuming the operating mode is `GDA` (the default).

However, the `Go` operating mo

[2018-01-04 06:59] tapir commented on #59
Thanks for the detailed explanation.
Is there a reason it doesn't copy context though? I imagine if somebody adheres to a some specific context they would want it to be used when they want a "copy" of the number. This might even cause some unforseeable problems as I wouldn't -for example- expect rounding mode to change when I copy a decimal

[2018-01-04 16:31] ericlagergren commented on #59
In general, methods don’t modify the receiver’s (`z`) `Context`. I toyed with the idea of `Copy` being a complete copy, similar to `a := b` (don’t do this, though—the internal `big.Int`s will alias). But that meant there was no way to “set” a decimal without rounding, since `Set` rounds, depending on its context. They were asymmetrical.

I might add something to misc/ or at the very least make the

[2018-01-04 16:33] ericlagergren commented on #59
I should clarify: methods don’t modify the Context *other* than setting conditions.

[2018-01-04 16:37] tapir commented on #59
In that case maybe there should be a function NewFromCopy that also copies context? Is that a good solution?

How can I copy the context as well now? is there quick trick?

Thanks

[2018-01-04 16:50] ericlagergren commented on #59
WithContext(x.Context).Copy(x) does what you want, but is wordy. But,
that’s what I usually use. You can check out examples if you look at the
math/ subpackage source code.

You could wrap it in a helper function like func copyOf(x *decimal.Big)
*decimal.Big { return ... }

Like I said I might add CopyTotal (or named something similar) to the
music/ subpackafe.
Le jeu. 4 janv. 2018 à 08:37, Coşku

[2018-01-04 16:51] tapir commented on #59
Thanks

[2018-01-04 16:51] #59 closed, assigned to nobody

[2018-01-06 02:20] nathanhack commented on #55
I basically have them already done, for my personal project. And if you'd be ok with it I could add them to the repo.

[2018-01-06 18:31] ericlagergren commented on #55
I would love that.
Le ven. 5 janv. 2018 à 18:20, nathanhack <notifications@github.com> a
écrit :

[2018-01-07 05:30] nathanhack commented on #55
Cool! Ok, I've started working on it.  I should be able to put some cycles towards it this weekend and next. I maybe be close to done by end of next weekend.

[2018-01-07 08:40] ericlagergren commented on #55
Awesome, I appreciate it. If it's any help, I've been using continued fractions from (https://doi.org/10.1007/978-1-4020-6949-9, but I have a .pdf copy I could "loan" you), but I'm sure there's plenty of other ways of doing it, too.

[2018-01-07 09:06] #43 closed, assigned to ericlagergren

[2018-01-09 21:07] ericlagergren opened #60 "math: explore using constants and specialized functions to speed up functions"
Let's consider `Exp`.

`Exp` uses the argument reduction `exp(z) = 10**k * exp(r) where r + k*log(10)`. We find this by:

1. Set `k = log10(e) * z`
2. Set `r = x - k*log(10)`
3. Return `10**k * e**r

This requires a fast way to compute `log10(e)`, since computing `log10(e) = log(e) / log(10)` is much too slow, as well as a fast way to compute `log(10)`.

If we have N-precision constants, our cross

[2018-01-10 23:01] ericlagergren opened #61 "add Context.SetString(z, s)"
`func (z *Big) SetString(s string) (*Big, bool)` blindly sets `z` to `s`, ignoring `Context`. While this is generally fine, in some situations it's beneficial to say "give me the string but register errors if it's out of bounds". A dead-simple implementation could be:

    func (c Context) SetString(z *Big, s string) (*Big, bool) {
        if _, ok := z.SetString(s); !ok {
            return nil,

[2018-01-10 23:19] ericlagergren opened #62 "misc: add some form of "as cents""
For example, some APIs require integers representing a monetary amount in cents. This is the same as returning the raw mantissa for some finite decimal. `Raw` does this, but it's not guaranteed to stay the same between versions so we can't suggest this. We could, though, abstract this out to make a "safe" version.

[2018-01-11 07:32] #61 closed, assigned to ericlagergren

[2018-01-11 07:32] #62 closed, assigned to ericlagergren

[2018-01-11 07:32] #60 closed, assigned to nobody

[2018-01-12 12:32] shabbyrobe opened #63 "More convenient way to default to Go OperatingMode?"
In my application, I need Go OperatingMode to be the default for all calculations. It's very verbose to establish and easy to forget to properly set contexts. Is it possible to add a more convenient way to set the default to be Go?

[2018-01-12 17:41] ericlagergren commented on #63
Two questions:

I'm curious why. No particular reason, just want to better learn why/how people use this library.

I'm not sure. The only "zero-touch" way that would make the default be `Go` would be setting a global variable (like `var DefaultOperatingMode = Go`) that people could modify inside `init()`. But that'd require me to add more runtime checks. I'm not a fan of globals nor of more runtim

[2018-01-13 02:53] shabbyrobe commented on #63
Yeah that global was my first thought too, then I started thinking through the horror that could unleash. Being able to modify the behaviour of dependencies that rely in the default being GDA could create some really nasty surprises, which is precisely what I'm trying to avoid! :)

So the main reason why I'm favouring the Go operating mode is that it's about 20% faster (and I'm doing about a jilli

[2018-01-13 03:33] ericlagergren commented on #63
Seems about right. Let me editorialize a bit and see if I can't help make things a bit more clear.

Generally, yeah. I hope to get rid of that in the future. It's because the GDA mode (which adheres to the GDA specification) rounds the result of every arithmetic operation down to the `Context`'s precision and, unfortunately, division is slow.

Ignoring the operating mode, every arithmetic operatio

[2018-01-21 00:35] ericlagergren commented on #63
hey, just wondering if you're fine with me closing this issue.

[2018-01-21 01:13] ericlagergren commented on #49
https://github.com/ericlagergren/decimal/commit/b359274227c7fa389088ffe0270fca3dc1c2c0c5

[2018-01-21 01:13] #49 closed, assigned to ericlagergren

[2018-01-22 00:19] ericlagergren commented on #55
Hey, just wondering how this is coming along. No pressure, of course—I appreciate the contribution. I'm just planning my schedule out and wanted to see if I could help at all.

[2018-01-22 01:20] nathanhack commented on #55
I've completed non-concurrent versions of Sin, Cos, Tan, Asin, Acos, Atan (in the my fork of your project). I wanted to add Atan2 before I submit the PR.  I do apologize, I meant to have completed this last weekend but I wasn't able to work on it. But I have a PR in draft and I'm thinking I'll be done with Atan2 later tonight and put in the PR tomorrow.

[2018-01-22 02:27] ericlagergren commented on #55
@nathanhack you're totally fine, I'm not worried about time. I just wanted to touch base is all.

Just fwiw, this is the default. The only concurrency promises the API makes is that `z` _will_ be clobbered, but `x`, `y`, `u`, etc. are all "read only." Same as math/big.

[2018-01-22 02:29] ericlagergren commented on #63
Feel free to ping me if you've any more questions!

[2018-01-22 02:29] #63 closed, assigned to nobody

[2018-01-22 03:35] nathanhack commented on #55
Thanks for the clarification. That was the working assumption I made while coding.  I also know that some of the biggest performance gains will require concurrent versions (that run with more than one go routine).  But I don't have concurrent versions made and was making sure you knew that the ones I was proposing to add with the PR were also only intended for a single thread.

That said, since I'

[2018-01-22 04:07] ericlagergren commented on #55
Gotcha. I should really write up a `CONTIBUTING.md` or something, it's kinda unfair to force people who want to help out with the library guess at what to do.

Yep, that's correct. At some point I'd love to have forms that take a `decimal.Context`, but I haven't come up with an API design I like quite yet. So, given

    func F(z, x *decimal.Big) *decimal.Big

the result should be correctly rounde

[2018-01-22 04:10] nathanhack commented on #55
Sweet, I think we're on the same page.  Thanks for the quick response. I should be able to make the changes and have the PR in tomorrow.

[2018-01-22 04:12] ericlagergren commented on #55
Cheers. Feel free to ping me if you've got any more questions. (I also edited my comment a couple times just now.)

[2018-01-22 04:25] ericlagergren opened #64 "math: Pow is messy, clean it up"

[2018-01-22 04:30] nathanhack commented on #55
Sorry I wasn't clear but that's what I meant by "derived."

I think we're good.  Of course, I'm sure there will be other things that come up to discuss once the PR is issued.

[2018-01-22 05:22] shabbyrobe commented on #63
Sorry for not getting back to you sooner, and thank you for the detailed reply. I'll see how I go with the `ctx.Mul()` form. It could well be enough; as long as it's easy to visually identify wrong use and right use, the way is then paved for writing an automated checker. Would you mind if I commented here again if I run into issues?

[2018-01-22 05:31] ericlagergren commented on #63
You’re more than welcome to! (Though, if it’s a different question create a separate issue.) My email’s public as well, but I’d kinda prefer to keep things on GitHub if possible so others can benefit from the Q&A.

I like to use the issues as a TODO list of sorts, so I like to close stuff out when I’m finished so I don’t accidentally forget about it.

[2018-01-23 01:26] cakey opened #65 ".Rat() bug when exp > 0"
Hey!
Great library!

Unless I'm misunderstanding, I believe there's a bug in .Rat() (or perhaps .SetRat breaks internal assumptions):

[code]
[code]
Basically it seems like the numerator isn't being scaled properly when exp > 0

However it works correctly if I directly .SetString() on the decimal.Big because the exp is 0 rather than 14.

Thanks,
Ben

[2018-01-23 03:01] ericlagergren commented on #65
You’re right. Sorry about that.

[2018-01-23 04:05] ericlagergren commented on #65
(Also, thanks for the compliment! I was replying on my phone, thus the brevity.)

I'll be pushing a fix for this bug soon.

[2018-01-23 21:58] cakey commented on #65
Awesome! Your response times are very very appreciated! Let me know if I can help out at all :)

[2018-01-23 22:33] ericlagergren commented on #65
Off the top of my head:

- there's plenty of TODOs in the code. (`git gret -E "TODO"`)
- there's one issue about the ugly `math.Pow` code
- there are a few routines in `parity.md` that I haven't implemented yet
- better tests (even though I'm satisfied with the tests I have right now)

But all those are kinda boring, tbh.

What would be great to know is what you use the library for. I've wanted to

[2018-01-25 09:36] ericlagergren opened #67 "math: drop guarantee about not clobbering ``z'' in Lentz's docs"
This

should be dropped and Lentz (and all functions that call it) updated accordingly.

[2018-01-28 06:42] ericlagergren commented on #55
https://github.com/ericlagergren/decimal/commit/d837f4aaf1f70dfcdab00979d720c29732943b6e

[2018-01-28 06:42] #55 closed, assigned to nobody

[2018-01-28 06:43] ericlagergren commented on #65
https://github.com/ericlagergren/decimal/commit/7cf4cd4305767abe571e1ebef1481afef6fc1dbb

[2018-01-28 06:43] #65 closed, assigned to nobody

[2018-01-29 01:27] #67 closed, assigned to ericlagergren

[2018-01-29 05:27] ericlagergren opened #69 "math: Sqrt sets incorrect scale when x is a perfect square (in the float64 fast-path)"
e.g. if x = 25 and our precision is 4 we get 25.00 when we really should be getting 25.

[2018-01-29 19:10] ericlagergren opened #70 "math: Log10(1E+41) returns 41, not 4E+1"

[2018-01-29 19:15] #69 closed, assigned to ericlagergren

[2018-01-29 19:15] #70 closed, assigned to ericlagergren

[2018-01-29 19:46] ericlagergren opened #71 "Quo has the correct result, but its exponent isn't ideal for some operations"
For example, `Quo('a really large number', 5)` will return something like `12345 (elided) 1234512345.123450000000000000000000000000` with a scale that effectively removes the trailing zeros. The result is numerically correct, but ideally the trailing zeros shouldn't be there and the scale should be increased by the same amount.

[2018-01-29 20:02] #71 closed, assigned to ericlagergren

[2018-01-29 20:27] ericlagergren opened #72 "Rem sometimes calculates results when it's not supposed to"
`Rem` should fail if `QuoInt` would. This means _literally_ if `QuoInt` would, not "take `QuoInt`'s failure conditions and generalize them onto `Rem`." Unfortunately, this means we _do_ need to calculate the quotient _and_ the remainder whenever we call `Rem`.

[2018-01-29 20:29] #72 closed, assigned to ericlagergren

[2018-01-29 20:33] ericlagergren opened #73 "merge QuoInt and Rem into QuoRem."
The GDA spec says `Rem` should fail in the same ways as `QuoInt`, which means _literally_ in the same ways. Since this means we (effectively) cannot optimize `QuoInt` and `Rem` to reduce computations, for code clarity we should just merge the two into `QuoRem`.

[2018-01-29 20:47] ericlagergren opened #74 "math: Sqrt has numerically accurate results, but doesn't set an ideal scale for perfect squares"
i.e., `Sqrt(0.16)` returns `0.40000 ...` (the number of zeros depends on the requested precision) but should really just be `0.4` since the GDA spec says perfect squares should use the ideal precision.

[2018-01-30 08:17] #74 closed, assigned to ericlagergren

[2018-01-30 22:30] cakey commented on #65
Awesome, thank you!

Our use case is a read only analytical database. We're evaluating a number of faster alternatives to using big.Rat, which has poor performance as we've started to introduce numerically intensive functionality. (Previously with most of the expensive calculations around filtering/grouping etc, we've been able to stick with int64)

[2018-01-30 22:33] cakey opened #75 "math: Sqrt incorrectly rounds down to the ideal exponent if ideal != precision and perfectSquare"
Looks like it thinks it's a perfect square (sqrt(5.76)==2.4) and so incorrectly rounds it.

[code]

[code]

Not ideal  :)

[2018-01-30 22:44] ericlagergren commented on #75
Probably just need to call `Reduce` instead of `Round`. How'd you catch this?

[2018-01-30 22:56] cakey commented on #75
Failed a bunch of our internal tests

[2018-01-30 23:08] ericlagergren commented on #75
Ugh, sorry about that.

[2018-01-30 23:26] #75 closed, assigned to ericlagergren

[2018-01-31 03:52] silviucm commented on #46
Hi Eric

Great library. There is a problem with compiling the package on ARM v7 32 bit on [this board](https://archlinuxarm.org/platforms/armv7/samsung/odroid-xu4), which may be related to this issue you opened:

[code]

Note that if I cross-compile from a 64-bit linux to target Arm 32bit, it works without issues

Let me know if you need more info.

Cheers,
Silviu

[2018-01-31 06:20] ericlagergren commented on #46
Hmmm. That's fixable, it's just incorrect build tags it seems. Sorry about that, I didn't think of ARM when I set the build constants.

Testing compilation is easy enough (I can do it with `GOOS` and `GOARCH`), but I don't have any ARM devices I can test the actual implementation on. (If somebody wants to send me some old Androids or Raspberry Pis I'd be down to make sure the tests pass with flyin

[2018-01-31 23:13] cakey opened #76 "Int64 doesn't handle lower bound properly"
[code]

[code]

Unless I'm misunderstanding, all 3 should return true?

It looks like it's triggering the `u > math.MaxInt64` branch.

I imagine it might be something related to .compact being uint64, but here we care about int64, but I haven't dived in too deep.

I realised it might have something to do with the set precision - if i set precision high enough, then   math.MinInt64+1 works correctl

[2018-02-01 00:48] ericlagergren commented on #76
You're correct about precision. Your call to `SetRat` rounds down based on `z`'s `Context`. (Essentially, `SetRat` is computed as `z = a / b` where `a` and `b` are the numerator and denominator of `x`, respectively.)

You're also correct that branch doesn't take into consideration that the negative half of a 64-bit integer is +1 larger than the positive half.

[2018-02-01 05:32] #76 closed, assigned to ericlagergren

[2018-02-01 06:54] ericlagergren commented on #76
Okay. That's fixed. I'm gonna push up a 3.1 which has a handful of bug fixes once Travis CI green lights me. Thanks for reporting them. Your issue made me curious: do you need something like `Context.SetRat`? I've omitted `Context` versions of most of the `SetX` methods, but I'm not opposed to adding them.

[2018-02-01 07:25] ericlagergren opened #77 "math: convert Exp to the new Context-style operations"
e.g., it should be `ctx.Mul( ... )` not `z.Mul( ... )`

[2018-02-05 09:59] jerry-tao opened #78 "The repo got a huge pack file."
When i try to clone the repo, i find out the repo size is almost 240MB.

[code]

It's odd, then i found the big file is:

[code]

[2018-02-05 19:05] ericlagergren commented on #78
Might've accidentally committed the fuzzer corpus a while ago.

[2018-02-06 03:02] ericlagergren commented on #78
Down to like 26MB locally. I'm not sure why GitHub doesn't reflect that, yet.

[2018-02-06 03:10] jerry-tao commented on #78
Thanks for your work.

[2018-02-07 16:21] Eun opened #79 "math: add Floor and Ceil functions"
Hey there,
first of: great work 👍

I noticed that there are no Floor or Ceil functions.

Are there any plans to include them?

[2018-02-07 17:39] ericlagergren commented on #79
Thanks!

They’re not a part of the GDA spec so I haven’t added them yet. I’m open to adding them.

Until I (or somebody else) does, you can simulate them:

    func floor(z *decimal.Big) *decimal.Big {
        return z.Quantize(0)
    }

    func ceil(z *decimal.Big) *decimal.Big {
        return z.Neg(floor(z.Neg(z)))
    }

I *think* that should work but I haven’t tested it.

[2018-02-07 17:42] ericlagergren commented on #79
(Keep in mind Neg possibly rounds and I’m not entirely sure if floor is correct for negatives. I’ll look more into it later.)

[2018-02-09 14:29] Eun commented on #79
Thanks for your quick response,

however the code you provided does not work.
Floor is wrong, therefore ceil is too.

Here is a simple test code:
[code]

[2018-02-09 22:06] nathanhack commented on #79
You could try this:

[code]

[2018-02-09 22:16] ericlagergren commented on #79
Yeah, that'll probably get the signs right. IIRC, `ceil = -floor(-x)` so that might simplify things.

I should get around to working on it this upcoming week, I think.

[2018-02-12 09:43] Eun commented on #79
@nathanhack that works thanks 👍

[2018-02-12 15:09] OpinionatedGeek opened #80 "Formatting to a fixed width"
Hi,

Let's say I have a bunch of numbers to 10 decimal places, and I wanted to print them out to a fixed width, so that if for example the number had only 9 decimal places, it had a trailing zero. Like:

0.1234567891
0.1234567892
0.1234567890 < this one has a trailing zero

I can achieve this with a float64 using the format string "%.10f\n".

Unfortunately I can't see how to do it using this libra

[2018-02-12 20:48] ericlagergren commented on #80
Looks like an issue that cropped up when I changed an internal representation of the exponent a while back.

[2018-02-12 21:10] #80 closed, assigned to nobody

[2018-02-12 21:12] ericlagergren commented on #80
Thanks for letting me know and sorry about the issue!

[2018-02-12 21:23] OpinionatedGeek commented on #80
Wow - thanks for the fix and the fast turnaround!

[2018-02-12 21:31] #79 closed, assigned to nobody

[2018-02-12 21:39] ericlagergren commented on #79
Neat, both are added now. @nathanhack thanks for the `Floor` suggestion.

[2018-02-13 14:58] OpinionatedGeek opened #81 "Quo() returning NaN when using ContextUnlimited"
Hi,

This is likely a problem with my expectations, but this code shows NaN rather than a concrete result:
[code]
It prints:
`Money: 0.00970299 Price: 0.00008957 Result: NaN20`

I'd expected `decimal.ContextUnlimited` to handle (many) more decimal places than the other contexts, at the expense of taking additional time for computations. Is that incorrect?

(Also - is there an example code that sho

[2018-02-13 17:11] ericlagergren commented on #81
I'd agree that error handling needs some better examples.

Let me know if anything is confusing, I haven't had coffee yet. :-)

You set can traps (using a bitmask) inside the `Context`. These traps will cause the `Err` method to return a non-nil value, should the corresponding condition be set. For example, if you set `Rounded` and `Rounded | Inexact` are set by an operation, if you call `Err` you

[2018-02-13 17:41] OpinionatedGeek commented on #81
Thanks, that does help but it leaves me with more questions...!

How would I create a Context with 'something like ~20 decimal, ~4 fractional digits of precision'? I can see the Precision property in the Context, but I don't think that's quite what you mean here. (An example of a Context for the US or EU monetary guidelines could be useful.)

I'm particularly interested in working with cryptocurre

[2018-02-13 18:16] ericlagergren commented on #81
Unfortunately, there's no easy way to require a result always have `N` fractional digits without manually calling `Quantize`. _Some_ libraries do that, but it's not well-defined according to the GDA spec (and causes bugs since the term "precision" is defined by IEEE, the people who've been writing binary and decimal floating point specs). My guidance would be to use a high enough precision, say 10

[2018-02-13 20:29] OpinionatedGeek commented on #81
Thanks - I am very grateful for your help here.

I thought I'd try putting together some code to make sure I understand what you mean. Let's say you have some money as a stake, you buy some token/coin at the openPrice, and sell it at the closePrice. The money you have at the end would be:

`(stake / openPrice) * closePrice`

So, to take your advice, I'd use a precision of 100 during the operations

[2018-02-14 05:44] ericlagergren commented on #81
Yeah, `Quantize` trims decimal digits. `Round` trims total precision. Basically. :-)

So, I'm not 100% sure where I was going with that, _but_, generally:

- Length of entire decimal: `x.Precision()`
- Number of fractional digits: `x.Scale()`
- Length of coefficient: `x.Precision() - x.Scale()`

Also, a word of advice: unless you really need to for some reason, don't chop off any precision until y

[2018-02-14 11:48] OpinionatedGeek commented on #81
That is excellent information and very helpful. Many thanks for taking the time to help me here.

[2018-02-14 11:48] #81 closed, assigned to nobody

[2018-02-14 17:59] nathanhack opened #82 "Feature request remove/change unsafe code"
The internal/buf/buffer.go has usage for unsafe. It's the only file using unsafe, would you consider removing/changing the unsafe. That way, it should make the library safe to use with gopherjs - because it would be a golang only implementation.

[2018-02-14 18:55] ericlagergren commented on #82
@nathanhack Yeah, I'll put it behind a build tag. Should've done that in the first place, although it's basically a boring implementation of `strings.Builder` which also uses unsafe.

[2018-02-14 18:57] ericlagergren commented on #82
Is there a convention that gopherjs uses? Like `// +build safe`? Or `// +build unsafe`?

[2018-02-14 18:59] ericlagergren commented on #82
Nvm, found it. https://github.com/golang/go/issues/23172

[2018-02-14 19:03] #82 closed, assigned to nobody

[2018-02-14 19:26] ericlagergren commented on #81
Of course! Glad you're using the library.

[2018-02-14 19:48] nathanhack commented on #82
Thank you!

[2018-02-27 16:08] shabbyrobe commented on #78
Sorry to dig up an old issue, but I'm still experiencing the massive repo size while using dep. Minimal repro steps are to call `dep ensure -add github.com/ericlagergren/decimal`. Calling `du` in `$GOPATH/pkg/dep` shows decimal is the culprit:

[code]

[2018-02-27 19:14] ericlagergren commented on #78
Yeah I noticed this the other day. I thought I’d cleaned it out, but I guess I was wrong.

[2018-03-02 12:27] OpinionatedGeek opened #83 "Formatting and rounding of very small numbers"
Hi,

This is a continuation of [Issue 80](https://github.com/ericlagergren/decimal/issues/80) - I'm afraid it won't let me re-open that one.

Formatting of very small numbers doesn't seem to follow the right path. I've updated my test program from the previous issue to show you what I mean.
[code]
This outputs:
[code]

As you can see, the last line doesn't follow what I'd expect for a %.10f format

[2018-03-06 09:19] #83 closed, assigned to nobody

[2018-03-06 09:21] ericlagergren commented on #83
Yeah, sorry about that. Turns out I had to rework more of `Format` than I thought. It needs to be tested better. There aren't many tests for `Format` because generating them is a bit difficult. Should put that on my TODO list :)

[2018-03-06 09:55] ericlagergren commented on #78
Don't know if either of you guys have ideas, buuuut I cleaned up the repo locally

[code]

and forced pushed.

But when I clone, I get this

[code]

[2018-03-06 14:14] OpinionatedGeek opened #84 "Storing and retrieving values in Postgres"
Hi,

I've tried using the /sql/postgres code to store and retrieve values and I've only been partially successful. I wrote a simple test program to show you what I'm doing and hopefully you can tell me what I'm doing wrong.

[code]
All it's doing is creating a table with one column, trying to store the value 1.1 in it, trying to read it back, then deleting the table.

When it runs, it outputs:
[co

[2018-03-07 02:09] ericlagergren commented on #78
fiiiiiixed it.

[code]

[2018-03-07 02:09] #78 closed, assigned to nobody

[2018-03-07 02:17] #84 closed, assigned to nobody

[2018-03-07 02:17] ericlagergren commented on #84
I think `DECIMAL` returns it as a string. Regardless, I just pushed a fix that accepts both string and []byte.

[2018-03-07 02:20] ericlagergren commented on #77
was done a while ago.

[2018-03-07 02:20] #77 closed, assigned to nobody

[2018-03-07 16:16] OpinionatedGeek opened #85 "Format doesn't properly handle edge cases for the %f verb"
I don't know if you're interested in these formatting problems or not. I promise you I'm not deliberately seeking them!

From my logs it looks as if a lot of small numbers are being formatted as 0. I can reproduce it with the value 0.01 (I use 1% often in some code) and the format string '%.10f' (which I pretty much use for all the values I print).

I've updated my number format program to show yo

[2018-03-08 07:31] ericlagergren commented on #85
I appreciate the issues. I need to get `%f` fixed before the next release.

[2018-03-08 09:43] OpinionatedGeek commented on #85
Thanks. Also, I wondered about %d too - it would be nice (for me) if it truncated to an integer, since it (and %x, %o etc.) are integer verbs. Maybe all integer verbs (%b, %c, %d, %o, %q, %x, %X, %U) could do this and format the same way they would an int?

I've no idea if that's a good idea for anyone else though but I thought I'd mention it.

[2018-03-08 09:59] morriswinkler-simple opened #86 "go get broken on this repro"
[code]

[2018-03-09 03:55] ericlagergren commented on #85
While I'm sympathetic to the idea, I feel like that's a big—but also subtle—breaking change. For example, changing a function signature is a breaking change, but it's also noisy—the code won't compile. Silently truncating decimals is quiet and easy to miss until you realize you're charging a customer $3 instead of $3.14 and production is on fire. (Granted, that requires multiple failures along the

[2018-03-09 04:11] ericlagergren commented on #86
Are you using Go 1.10?

[2018-03-09 09:23] morriswinkler-simple commented on #86
[code]

[2018-03-09 11:35] OpinionatedGeek commented on #85
Yeah, I take your point but I figured I'd mention it. I guess I just assumed fmt integer verbs would truncate to integers here, but I'm not sure why. I also thought about maybe capitalised versions truncating to int (so %D etc.) but that wouldn't work so well with the %x/%X distinction. Oh well - thanks for your thoughts.

[2018-03-10 01:43] ericlagergren commented on #86
Unfortunately, I only can support the most recent Go version (currently 1.10). For a while I tried supporting previous versions, but it became too burdensome to both add new features and add shims for older versions.

This is similar to how the Go project does things: they only support the two most recent versions. So, right now they support Go 1.9 and Go 1.10. Since I'm one guy doing this in my s

[2018-03-10 01:43] #86 closed, assigned to nobody

[2018-03-12 17:06] fantomgs commented on #85
#87 fix %f format issue

[2018-03-13 21:11] cakey commented on #86
@ericlagergren This is an issue for us as well, we need go1.9 support :)
I'm happy to create the PR, but in what form do you want it? A separate branch? Or back on master again?

[2018-03-13 21:52] ericlagergren commented on #86
A separate branch, please (named "go1.9" or something?). I know it can complicate vendoring a bit, and I'm sorry about that. I just don't have the bandwidth to support more than 1 Go version.

[2018-03-13 21:55] ericlagergren commented on #85
Keeping this open for a bit just until I've bettered the tests.

[2018-03-13 23:10] cakey opened #88 "Float64 isn't documented to return different results than big.Rat.Float64"
Hey,
I'm getting results from the Float64() function that are unexpected to me. I would expect the exactness flags to line up with big.Rat in this case.

Am I misunderstanding something, or is there a bug?

[code]

[code]

[2018-03-14 05:10] ericlagergren commented on #88
Yes and no to it being a bug. The behavior should be better documented, but it's that way by design.

Since the GDA spec doesn't define conversion to a 64-bit float, I went with "exact" meaning

This is different than `big.Rat` which defines "exact" as

(Not quotes, just set that way for clarity's sake.)

The reason is a bit of a cop-out: converting a rational number (two base-2 numbers) into a fl

[2018-03-14 05:20] ericlagergren commented on #88
Although, to be clear: there aren't any requirements for certain methods to match other `math/big` methods. E.g., `Int64` returns `(int64, bool)` not `(int64, Accuracy)`. The above post was written from the perspective that the `Float64` method _should_ match `big.Rat.Float64`'s behavior. Taking the opposite approach (wherein it need _not_ match its behavior), I'd say 100% without a doubt there's

[2018-03-14 20:35] cakey commented on #88
Appreciate the response! :)

Makes sense if that's the behaviour you were going for - seems like a reasonable tradeoff against code complexity and performance.

However the documentation reads `and a bool indicating whether x can be exactly represented as a float64` - to me that very strongly implies that the float64 that is created is fundamentally the same number as the decimal - that there is 0

[2018-03-14 21:05] cakey opened #89 ".SetFloat64() has incorrect results."
Again, forgive me if I've overlooked something
[code]

[2018-03-14 21:32] ericlagergren commented on #88
Yep. I’ll make a change in the docs.

`SetFloat64(0.1)` doesn’t return true because it’s inflated. I think the `exact = true` line should be something like `exact = !math.IsInff, 0) && !math.IsNaN(f)`.

I’ll fix that with the doc change.

[2018-03-16 05:31] ericlagergren commented on #89
Nah, that's right. It's fine if I remove the

`if s := uint(-shift); s < 64 { ... }`

branch and just use `big.Int` it works. But, only for some ranges of numbers. Like [8e+19, 8e3X] doesn't work. ¯\\\_(ツ)_/¯

[2018-03-16 05:38] #88 closed, assigned to nobody

[2018-03-16 05:38] #89 closed, assigned to ericlagergren

[2018-03-18 06:30] aarondl opened #90 "Neg() doesn't behave properly when number is negative"
Version: 3.1 tag

[code]

Given this sample application I expected to see output:

[code]

But I see the output:

[code]

It seems like `Neg()` is failing to set `x` to `-x` when `x` is already negative.

[2018-03-19 02:13] ericlagergren commented on #90
ah yeah, that's fixed on head. I should push a v3.2. There's enough fixes to warrant it, imo.

[2018-03-19 02:13] #90 closed, assigned to nobody

[2018-03-19 02:16] ericlagergren commented on #90
Okay, it's official: https://github.com/ericlagergren/decimal/releases/tag/v3.2

[2018-03-20 01:27] cakey opened #91 "Quantize unexpected results"
Hey!

Am I misunderstanding what quantize is meant to do?

[code]

[code]

I wouldn't have expected NaNs in these cases.

Also unrelated, but I was putting together a PR for the 1.9 branch, and I was having trouble with go test. Are some of the tests slow?

[2018-03-20 06:20] ericlagergren commented on #91
Quit breaking my library.

Just kidding. :) I appreciate your help. Yes, some tests are slow. Run it with `-short` if you don't have over an hour to kill waiting for it to do stuff like test every 32-bit float. (Yes, I know it sounds silly but why not?) `-short` also skips a couple tests that allocate huge amounts of memory.

[2018-03-20 07:15] ericlagergren commented on #91
Also, wrt to your original question: it's the proper behavior.

[code]

[2018-03-20 07:15] #91 closed, assigned to nobody

[2018-03-20 07:18] ericlagergren commented on #91
Admittedly, it's somewhat surprising. But the spec requires a NaN result if the quantization exceeds the working precision.

For example, in the latter case you've set your working precision to 7 (via `Decimal32`), but the end result of the quantization would be `9.0000000`, which has 8 digits of precision.

The relavant part of the spec:

[2018-03-21 01:34] cakey commented on #91
Appreciate the quick response as always! :)

I think I was doing something like (9e+25).quantize(-5) with precision 18, and was very confused that it was returning a NaN, but your explanation makes sense.

[2018-03-21 03:09] ericlagergren commented on #91
Yep. The GDA has lots of rough edges, mostly because math has lots of rough edges.

[2018-03-21 18:59] kcwu opened #92 "SetString(2^64-1) is wrong"
[code]
output
[code]

[2018-03-22 08:40] #92 closed, assigned to ericlagergren

[2018-03-22 08:40] ericlagergren commented on #92
That's embarrassing, sorry.

[2018-03-22 10:15] kcwu commented on #92
Similar issue
[code]
output
[code]

[2018-03-22 17:06] ericlagergren commented on #92
Thanks. I went through and found one more. I'm curious: how did you stumble upon this?

[2018-03-23 02:56] kcwu commented on #92
I was writing tests for my own code using special values and unexpectedly found it

[2018-03-23 04:04] ericlagergren commented on #92
If you can/want to, could you send me the tests? I always like adding more.

[2018-05-23 01:05] kanreki opened #94 "order of args mixed up in QuoRem?"
at line 972 of big.go, aren't the args in the wrong order?

Shouldn't it say:
    return z.Context.QuoRem(z, x, y, r)

[2018-05-23 01:07] kanreki commented on #94
(looking at version from 2a5821154e156e9036761a55c2e820d8653a5a60)

[2018-05-25 03:17] #94 closed, assigned to nobody

[2018-05-25 03:18] ericlagergren commented on #94
Well, that's embarrassing. That's for letting me know!

[2018-05-25 14:28] aarondl opened #95 "ORM Integration"
Hey @ericlagergren.

Finally getting around to wanting to integrate this into our "orm" (https://github.com/volatiletech/sqlboiler) as the decimal library of choice.

Wanted to talk to you about a few small things though. We have two problems that we need to deal with coming from the sql world. And then I've a random question for you.

1) Scanner/Valuers. This you've obviously tackled for postgres

[2018-05-25 18:09] ericlagergren commented on #95
Hey!

1. That should be fine. `sql/generic`? I added the manual bounds checking since I figured it'd be nice to preemptively avoid a trip to the database, or at least round the decimals to the proper size beforehand. Not sure whether that was a good idea or not.

2. A `NullDecimal` should be fine in `sql/generic`. I'm not sure how to handle this case

[code]

The first thing that pops into my head

[2018-05-25 18:35] aarondl commented on #95
`sql/generic` sounds fine.

I think that it's best to let the database deal with the restrictions on the types. Consider if you move from one version of the DB to the next, and something's changed. The library now needs to be updated, but there's almost no way of knowing that the database has changed. Or even supporting two users on different versions of said database. It's also possible to get it

[2018-05-28 13:12] dhannyz opened #96 "Request - Chainable Min/Max Functions"
It would be nice to instead of using separate Cmp()'s in conditions, followed by Copy()'s, to have a max and min function that alters the 'self' struct such that  `a.Max(b).Max(c)` would return and set a as the maximum of a,b,c

[2018-05-29 04:28] ericlagergren commented on #96
Would something like this work?

[code]

That's really what it should've been in the first place.

For what it's worth, I don't think `Max` will ever make its way out of `misc/` and into the main package, `decimal/`. I want to keep as many methods out of `decimal/` in order to keep the API clean. Right now `Big` has 53 methods which is a _lot_.

[2018-05-30 01:52] dhannyz commented on #96
Oh sorry, I didn't even see those functions in misc
Personally I was thinking of something that basically replicated the Cmp() function and instead of returning a int, it returned a pointer, or set the calling pointer's value to the Min/Max result. Rather than just calling Cmp(), checking the return, then setting accordingly with Copy().
My use case is for a high performance find of min/max on onl

[2018-05-30 04:20] ericlagergren commented on #96
Ah, yeah, then `Min` and `Max` in `misc/` should work.

[code]

Ideally, the API would be similar to what I posted in my previous comment, but that'd be a breaking change so it'd have to wait until version 4.0.

Awesome! I'm glad to hear it. If you don't mind me asking, what're you using this library for? I ask this question whenever people create issues because it's cool to see all the unique ide

[2018-05-30 04:56] dhannyz commented on #96
I'm actually using this for some sensitive financial trading code
So accuracy and speed is quite important ;)

[2018-06-01 09:27] edmore opened #97 "CmpAbs error"
I am getting this error, on versions 3.0, 3.1 and 3.2 versions; go version 1.9

vendor/github.com/ericlagergren/decimal/internal/arith/intlen.go:48:6: x.CmpAbs undefined (type *big.Int has no field or method CmpAbs)

Kindly assist.

[2018-06-01 10:06] edmore commented on #97
bumped up to version 1.10, works now

[2018-06-01 10:06] #97 closed, assigned to nobody

[2018-06-05 15:27] aarondl commented on #95
Hey @ericlagergren. Quick friendly ping as we're nearing the release of v3 and need to sort this out. I also have a contributor that jumped in without knowledge of our conversation here to try and finish this (which is awesome) so I've asked him to review the details here.

He's the author of https://github.com/ericlagergren/decimal/pull/98

[2018-06-05 16:14] ericlagergren commented on #95
Ack. If you or the contributor want to submit a PR, that’s awesome.
Otherwise, I’ll create one by the end of the week I think.
Le mar. 5 juin 2018 à 08:27, Aaron L <notifications@github.com> a écrit :

[2018-06-05 20:02] aarondl commented on #95
Happy no matter who does the work. Was just trying to figure out how to manage syntactically with all the pointers flying around. For example I wonder if we don't have a pointer on the User struct as above if json won't encode or what have you.

[2018-06-05 20:39] ericlagergren commented on #95
I don’t think it would, even if it’s addressable since it’s hidden behind
an interface.
Le mar. 5 juin 2018 à 13:02, Aaron L <notifications@github.com> a écrit :

[2018-06-07 21:44] timothyham opened #99 "Comparison results in wrong answer"
This unit test fails:
[code]

[2018-06-07 21:52] timothyham commented on #99
Made a PR to fix this bug: https://github.com/ericlagergren/decimal/pull/100

[2018-06-08 03:18] ericlagergren commented on #96
@dhannyz that's cool to know, thanks! You're alright if I close this, right?

[2018-06-08 03:46] aarondl commented on #95
https://play.golang.org/p/54m4rRQCsmZ

So I was messing around a bit on the playground with how this might look. It seems if we don't use pointers anywhere, it's actually kinda okay.

Though it seems odd at first glance that `MarshalText()` on big takes a pointer. Is there a reason for this? Just a big object I guess (pun intended)?

Anyway, this is about how we'd like to use it. I'm wondering if

[2018-06-08 04:25] ericlagergren commented on #95
Yeah, it's a pointer for symmetry*, performance**, and safety***. Ordinarily it wouldn't be a pointer.

The only downside to embedding it without a pointer is how tedious it is to write

`a.Money.Mul(&a.Money, &b.Money)`

The only way to make it nicer would be to embed a pointer (only drops 1 character) or to write/generate wrapper methods.

Too bad the package wasn't designed around an interface

[2018-06-11 03:28] #96 closed, assigned to nobody

[2018-06-11 03:33] ericlagergren commented on #99
Hey, I ask this of everyone who creates an issue or PR—if you don't mind me asking, what're you using this library for? It's really cool to see the different ways people are using it.

Also, would you like your name and/or email listed as a contributor?

[2018-06-11 03:33] #99 closed, assigned to nobody

[2018-06-11 16:49] timothyham commented on #99
My employer uses this library inside a business analytics application. Like many business applications, decimal math is important.

Sure, I'd love to have my name added to the contributor list :) Thx.

[2018-06-13 21:00] aarondl commented on #95
Hey there @ericlagergren. I had a branch all ready to pull request when I suddenly realized that I needed to implement our "randomize" interface. It's an interface that creates a random value for sqlboiler. All of our custom types implement this but there's a problem... It requires importing 3 packages from sqlboiler -_-. Some interface huh? (There's one argument that wants the randomize package,

[2018-06-13 21:00] #95 closed, assigned to nobody

[2018-06-15 03:15] hiroki-money opened #101 "[question] is there func to remove trailing zero??"
As subject, if result is 0.500, I wanna get it as 0.5. Is there such func??

[2018-06-15 20:48] ericlagergren commented on #101
Could you give me an example of what you're doing now?

[2018-06-16 04:14] ericlagergren commented on #95
Well dang! Perhaps some other time. I didn't see anything glaring in the code you linked. Whenever I've used postgres (via lib/pq) it've always received `DECIMAL` back as a string (or []byte, it's been a while since I've used it).

[2018-06-20 02:02] hiroki-money commented on #101
@ericlagergren
For my testing which use calculation using this package, expected data is always string and condition should be same. To do so, zero should be removed.
For now, after converting Big type to string, I remove zero if it has decimal point.

[code]

[2018-06-22 04:09] ericlagergren commented on #101
Trailing zeros are generally significant, which is why they're retained. See the GDA spec: http://speleotrove.com/decimal/decifaq1.html#tzeros

However, you can do what you want with the `Reduce` method:

[code]

[2018-06-22 05:08] hiroki-money commented on #101
@ericlagergren
Thank you for your straightforward answer. It's good to know about that decimal specification.

[2018-06-22 05:09] hiroki-money commented on #101
I close this issue.

[2018-06-22 05:09] #101 closed, assigned to nobody

[2018-06-22 06:05] hiroki-money opened #102 "How to limit scale?"
How can I limit scale when initialize number or result after calculations?
For example, I wanna set scale as 10 and expect result as below.
If I pass number `10.123451234512345` to create decimal.Big object, I wanna get `10.1234512345`.
In this case, this passed value has scale:15. But I wanna set scale limitation anytime.

[2018-06-25 00:55] ericlagergren commented on #102
See `Context`. (On my phone at the moment, I’ll expand more later. But that should start you in the right direction.)

[2018-06-25 02:02] hiroki-money commented on #102
Yes, I've already tried to use Context, but nothing happened, I may've made something mistake though.
I wonder, this test [TestDecimal_Format](https://github.com/ericlagergren/decimal/blob/master/format_test.go#L70) indicates that `fmt.Sprintf("%.10f")` is used for display of scale setting.
If `Content` could support scale initially, that format is not needed anymore.

[2018-06-27 02:58] hiroki-money commented on #102
I tried this issue using Context to set maxScale, minScale.
As I expected `maxScale` and `minScale` in context seems to be not working now.
Even if scale is set, precision is always prioritized.
I guess that `Scale` depends on `precision` in context as far as I tried.

I'm sorry if I made a mistake.

[2018-06-28 04:14] ericlagergren commented on #102
Okay, so to clarify you want to limit the number of digits after the decimal point? Yes, `fmt.Sprintf("%.10f", x)` will allow you to print `x` with 10 digits after the decimal point.

`Quantize` will allow you to change the number of digits after the decimal point.

[code]

[2018-06-28 06:40] hiroki-money commented on #102
@ericlagergren
I got it thanks to it. Thus this issue is closed.

[2018-06-28 06:40] #102 closed, assigned to nobody

[2018-07-02 13:08] kentquirk opened #103 "_testdata links pointing to themselves"
I just did a `go get` of this repository, and then this command fails:

[code]

(That command is used by VS Code to capture installed package information.)

The problem is that the recently-added `_testdata` symlinks in misc and math are pointing to themselves, which causes infinite loops in directory-traversing code. Were they intended to point to `_testdata` in the parent directory?

[2018-07-02 13:48] kentquirk commented on #73
Are you saying that you want to eliminate QuoInt and Rem entirely (which would be a breaking API change), or are you saying that the implementations of QuoInt and Rem should be converted to calls to QuoRem with a discarded value?

[2018-07-02 21:44] ericlagergren commented on #73
@kentquirk Yeah, converted to calls to `QuoRem` with a discarded value.

Looking at #72, I'm not entirely sure this is still necessary. It's been 6 months since I created it so I'll have to reinvestigate. But yeah, no API breakage.

[2018-07-04 23:33] #103 closed, assigned to nobody

[2018-07-04 23:35] ericlagergren commented on #103
Thanks!

[2018-07-09 18:55] kentquirk opened #104 "SetUint64 doesn't work for math.MaxUint64"
(In response to a note you left somewhere, we are using this package to build a math library for a cryptocurrency project.)

The problem is best illustrated by test code:

[code]

The first function returns OK but then the result is 0, while the second function does the right thing, so it appears that attempting to SetUint64 with the maximum possible value is failing.

[2018-07-10 18:09] #104 closed, assigned to nobody

[2018-07-10 18:50] ericlagergren commented on #104
Thank you for letting me know!

[2018-07-29 19:07] pennersr opened #105 "Float64() returns ok=false -- true expected"
In the following example, `Float64()` returns `ok=false` whereas I would have expected `true` here.

[code]

[2018-07-29 23:16] ericlagergren commented on #105
Hmmm, yeah. While it _does_ return the correct float result (6190.000...), the 'false' is definitely wrong. I suppose if the decimal, `x`, is an integer and `x <= 1<<53` we can return it directly as a float64.

The case that was hit in your example was meant for something like `6190.12345678912398` which can't be exactly represented as a float (you'd get `6190.12345678912425` instead).

[2018-08-03 11:06] shannoncolavita opened #106 "Precision and Scale is lost"
I have read through the closed issues and it seems as though this should keep the scale to 2 but it doesn't. Please advise if I am missing something

		`It("loses precision", func() {
			ctx := decimal.Context{
				OperatingMode: decimal.Go,
				Precision: 3,
				MinScale: 2,
			}
			x, _ := decimal.WithContext(ctx).SetString("6.00")
			y, _ := decimal.WithContext(ctx).SetString("3.00")
			x.Quo(x

[2018-08-05 03:41] ericlagergren commented on #106
Unfortunately, that's not the behavior the GDA spec requires.

(Note: scale = -exponent.)

In your example, both scales are 2, and 2 - 2 = 0. So, the resulting scale is 0. Should you change the divisor to "3", the resulting scale would be 2 because 2 - 0 = 2.

Is there a reason you need to keep the scale at 2? Mathematically it will be correct and you can edit how you display results using fmt.For

[2018-08-05 03:44] #105 closed, assigned to ericlagergren

[2018-08-05 10:20] shannoncolavita commented on #106
Thanks for the response Eric. I thought by using the Go operating mode the scale wouldnt be lost.  We want to keep the scale for display and consistency purposes,  so I will just format it.

[2018-08-05 23:20] ericlagergren commented on #106
Ah, yeah. The differences between the modes can be found here: https://godoc.org/github.com/ericlagergren/decimal/#OperatingMode

Sorry for any confusion!

[2018-08-19 22:04] mpwalkerdine commented on #85
Not sure if this is the desired behaviour in the Go operating mode, but this test fails (gives `0` instead of `0.00`). Leaving it in GDA mode will make it pass.

[code]

[2018-08-21 07:40] mpwalkerdine commented on #85
Another one (again, only in Go mode, gives `'0.00000'` instead of `' 0.00'`)

[code]

[2018-08-21 08:09] mpwalkerdine commented on #85
It looks like the above two [are intentional](https://github.com/ericlagergren/decimal/blob/32e0aeedccccb0a2b263c754706e53e23089f106/format.go#L179).
[code]

`fmt.Sprintf("'%5.2f'", 0.)` gives `' 0.00'`, so I'm not sure I see the rationale for this. It certainly surprised me. If it's here to stay it would be worth adding another item to the list of operating mode differences.

[2018-08-24 15:02] ericlagergren commented on #85
@mpwalkerdine hi I just wanted to let you know I saw your comments and am taking a look. Sorry for the delay.

[2018-08-24 15:03] ericlagergren commented on #106
Hi @shannoncolavita is it okay if I close this now?

[2018-08-24 15:13] shannoncolavita commented on #106
Yes go ahead,  thank you

On Fri, Aug 24, 2018, 16:03 Eric Lagergren <notifications@github.com> wrote:

[2018-08-24 16:19] #106 closed, assigned to ericlagergren

[2018-08-24 19:51] mpwalkerdine commented on #85
No worries, and thanks for the great library! :smiley:

[2018-09-04 05:37] ericlagergren commented on #85
Update: I’m rewriting part of the Format code because it’s too complicated right now. That’ll fix the issues.

[2018-09-05 19:34] dr2chase opened #108 "decimal/benchmarks/pi_test.go broken by changes to dnum"
decimal/benchmarks/pi_test.go no longer builds because of changes to github.com/apmckinlay/gsuneido/util/dnum  package.

[code]

[2018-09-05 22:41] ericlagergren commented on #108
I'll take a look. Thank you for letting me know!

[2018-09-07 20:58] dr2chase commented on #108
FYI, s/dnum.Cmp/dnum.Compare/
I think dnum is undergoing some cleanup.

[2018-09-07 21:01] ericlagergren commented on #108
Awesome. If you don't mind me asking, what're you using the library for? It's super interesting to see what people use it for.

[2018-09-07 21:15] dr2chase commented on #108
You'll be sad(ish).  I work on the Go compiler, we have an inadequate (in my opinion) set of benchmarks, so if anyone with a mildly popular project has also written benchmarks, and I find them, and they are not too much of a duplicate of something we've already got (and not too noisy, not too slow, etc) then I incorporate them into the list of benchmarks to run.  See
https://github.com/golang/go/w

[2018-09-07 21:27] ericlagergren commented on #108
That's still pretty neat. Glad to see it could be of help!

[2018-09-07 21:45] #108 closed, assigned to ericlagergren

[2018-10-19 13:53] Dexus opened #109 "Howto parse JSON into struct with *decimal.Big?"
Hi my problem is that I have a JSON that has normal floats, but I want to use them as `*decimal.Big` in the structure.

How do I do this correctly? I can't find the correct solution at the moment :-( Maybe I'm just blind from the code.

[2018-10-19 16:56] ericlagergren commented on #109
The `encoding/json` package only calls `UnmarshalText` if it’s a quoted string. I’ll look into adding support for JSON’s number type.

[2018-10-30 04:53] aarondl opened #110 "JSON Marshal on nil pointer panics"
Given this example program:

[code]

The output produced is:

[code]

I was going to correct this and PR it, but it appears there's no `MarshalJSON` implementation, only a `MarshalText`. I think for JSON marshalling it should interpret nil pointers correctly for both encoding and decoding. This kind of check is sufficient:

[code]

The issue that spawned this issue is here: https://github.com/vola

[2018-10-30 17:15] andradei commented on #110
The problem, in this case, seems to be all cases where `func (x *Big) ...` doesn't check `x == nil` before calling `x.OneOfItsMethods(...)`. Either that or `MarshalText` (and maybe `UnmarshalText`) not checking `x == nil`.

[2018-10-31 01:08] andradei commented on #110
@aarondl I made a little program that shows the issue, and it looks like the problem in in Unmarshal as well:

[code]

The output is:

[code]

Could you edit the issue to including Unmarshling too?

[2018-10-31 18:40] ericlagergren commented on #109
Do you only need unmarshaling or both unmarshaling _and_ marshaling? I think I can do the former, but not the latter.

The reason is that it's trivial to detect whether we're passed a string `"3.1415"` or a number `3.1415`.

[code]

However, I'm hesitant to _marshal_ a decimal as a float because it's inherently lossy. And there's no way for me to provide both the string and float options within th

[2018-10-31 19:11] ericlagergren commented on #110
A couple of things.

First off, `MarshalText` _should_ return the string `"<nil>"` if `x == nil`. I will make that fix.

Unfortunately—even after adding the `x == nil` check—embedding won't do exactly what you want: (https://play.golang.org/p/GHIAH1t2cSd). You also run into a similar issue with unmarshaling: (https://play.golang.org/p/gXR-GwVhK6w).

This is more an issue (for lack of a better word

[2018-10-31 21:56] andradei commented on #110
@ericlagergren > At any rate, I'd caution against using NullXXX in a JSON API. Isn't it just for database use?

This is a good point. Given the limitations in the combination of struct embedding and JSON encoding/decoding, I'd say it will be better for me to avoid `NullXXX` when using JSON.

The issue also arose when not embedding, though the end error was a little different. But I get the picture

[2018-10-31 22:08] ericlagergren commented on #110
I'll push the MarshalText change by this weekend (or, if you need it sooner you're more than welcome to add it!) I think. Sorry about the issue, though. Just a weird Go edge case.

[2018-11-01 21:32] djmarcin opened #111 "go.mod requires a patch version"
Currently go modules just grabs the latest commit because your SemVer tags don’t include a patch version. Changing the tags from v3.1 to v3.1.0 should fix it, I think.

[2018-11-02 06:07] djmarcin commented on #111
It looks like modules also requires for major versions 2+ that the module path and package import path contain the major version number, e.g. ‘module github.com/ericlagergren/decimal/v3’, so this might be a bit more involved :-/

[2018-11-03 23:08] Dexus commented on #109
I only need the Unmarshaling first, but I think it would be nice to have it if the Marshaling is also available. But if you value marshaling, you can do it as a float, maybe you can add an "option" (global?) to switch between marshaling as a float or string.

BR, Josef

[2018-11-04 04:58] ericlagergren commented on #109
I'll leave it at unmarshaling for now.

If somebody needs to marshal as a JSON number they can implement it themselves via json.Number or a custom type that implements json.Marshaler. It should be pretty easy:

[code]

FWIW: I don't want formatting configuration options in Context because Context should really only be about numerical operations. (That it currently affects very basic string formatt

[2018-11-13 02:05] GalGavu commented on #110
@ericlagergren any update? :)

[2018-12-07 17:52] kardianos commented on #111
I can confirm, if you release as a v3 library, your go.mod file would need to start with `module github.com/ericlagergren/decimal/v3` and your semver tag would need to be something like `v3.1.0`.

However, if this is the first getable tag for go modules, maybe just reset back to `v1.3.1` and keep the module name as is?

[2018-12-07 21:16] ericlagergren commented on #111
Hm. So, I've already released v3.2 but I _haven't_ included go.mod in a release so yet (14 commits separate v3.2 from HEAD).

Is it possible to release v.3.3.0 with a `v3/` directory that contains the requisite go.mod file?

Or, should I bump to v4.0?

[2018-12-07 21:29] kardianos commented on #111
You don't need, but can use, a sub-directory. I would avoid it.

The v3 at the end of the module path will be ignored by the older versions that have been patched. So you can safely make the module path end in a `/v3` tag v3.3.0 in place (no moving files).

I don't see a reason to bump to v4 unless you have some breaking change, which it doesn't look like you have.

[2018-12-08 00:36] ericlagergren commented on #111
Awesome, thanks @kardianos.

[2018-12-08 00:37] ericlagergren commented on #111
(I guess this means I should go and re-read the modules docs.)

[2018-12-10 06:34] #109 closed, assigned to ericlagergren

[2018-12-10 06:38] #110 closed, assigned to ericlagergren

[2018-12-10 06:41] #111 closed, assigned to ericlagergren

[2018-12-10 17:23] kardianos commented on #111
Readme (current version) might be out of date.

On Sun, Dec 9, 2018 at 10:41 PM Eric Lagergren <notifications@github.com>
wrote:

[2018-12-10 17:25] ericlagergren commented on #111
Thanks for letting me know. Will fix that.

Envoyé de mon iPhone

[2018-12-12 00:47] andradei opened #112 "Go Modules and v3.3.0 is breaking build"
After the change in #111 my build broke. When compiling, it tries to find the latest version as package, and not a module (notice the v0.0.0-20181210064008-7f7cf8a362e5, the last part being the hash for tag v3.3.0):

[code]

And eventually can't with the following error:

[code]

My `go.mod` was updated to have `require github.com/ericlagergren/decimal/v3 v3.3.0` and my import paths were modified

[2018-12-14 18:47] jmartin127 commented on #112
I am experiencing the same issue when trying to use SQLBoiler, which depends on this package.

[2018-12-18 18:00] Atrox commented on #112
I've got the same problem. I think the way to go is:

- create new v3.3.1 without go.mod /v3 suffix
- create new v4.0.0 with go.mod /v4 suffix

This causes no breaking changes and with v4 you start to follow the standard

[2018-12-19 01:05] ericlagergren commented on #112
I know it's a simple change but I don't know if I'll have time to implement & test it out for a few days at least. PRs are always welcome. :) Apologies for the goof up.

[2018-12-28 02:44] lokeshj opened #114 "Float64() returns unexpected value for negative integers when scale = 0"
Hi,

I'm not sure if I'm doing something wrong here. I have a simple test case
[code]
Output:
[code]

I was expecting it to print `-1` in both the lines.

Also, if I change the scale to 1:
[code]
It correctly prints `-0.1` in both lines.

[2018-12-31 22:51] #112 closed, assigned to ericlagergren

[2018-12-31 23:06] #114 closed, assigned to nobody

[2018-12-31 23:06] ericlagergren commented on #114
Thanks!

[2019-03-28 04:36] yellowred opened #122 "document that SetFloat sets exactly x"
Code:
[code]

Output:
[code]

Expected:
the numbers to be the same.

[2019-03-29 03:00] lealife opened #123 "mention that Quantize is the same as Truncate"
[code]

reference:
https://github.com/shopspring/decimal/blob/cd690d0c9e2447b1ef2a129a6b7b49077da89b8e/decimal.go#L905

[2019-03-31 17:19] ericlagergren commented on #122
This is the expected behavior. I think the only change to be made here is to add the word "exactly" to the SetFloat docs, just like SetFloat64.

Explanation:

Base 2 numbers can't accurately represent all base 10 (decimal) numbers, so `0.00805713` is actually `0.0080571299999999991536814292203416698612272739410400390625...`.

For example:

[code]

[2019-03-31 17:22] ericlagergren commented on #123
You're looking for the `Quantize` operation. I'll mark this as a doc fix to add the word "Truncate" to Quantize's docs.

[code]

[2019-03-31 17:26] #122 closed, assigned to ericlagergren

[2019-03-31 17:26] #123 closed, assigned to ericlagergren

[2019-04-01 04:48] lealife commented on #123
The `Truncate` is not the same as `Quantize`

[code]

[2019-04-01 09:50] yellowred commented on #122
hmm guess I was expecting the lib to handle numbers precisely, as it is supposed to be the add value on top of float64

[2019-04-06 23:39] ericlagergren commented on #123
It is, it you need to use the ToZero rounding mode. I should've been more clear in my example, sorry.

For example:

[code]

[2019-04-07 00:21] ericlagergren commented on #122
That's the thing. It *is* precise.

It is precise because, as a base-2 floating point number, `0.00805713` is *the same thing* as `0.0080571299999999991536814292203416698612272739410400390625`.

A good way to demonstrate this is with `big.Rat`. Because it represents numbers as a fraction, it is exact (as fractions always are).

[code]

[2019-04-07 00:39] ericlagergren commented on #122
What you're looking for is `SetFloat` or `SetFloat64` to round its input *from* `0.0080571299999999991536814292203416698612272739410400390625` *to* `0.00805713`.

Unfortunately, that's not really possible without knowing the desired decimal precision ahead of time. Plus, the conversion routines would be complex and possibly expensive.

[2019-04-07 09:31] lealife commented on #123
Thanks!

[2019-04-15 20:55] PumpkinSeed opened #126 "Parameter list - version differences"
There is some issue in the parameter lists in the decimal/internal/arith package. The Sub64 function has an extra parameter in decimal/internal/arith/arith_1_11.go so when the decimal/big_ctx.go call it in case of 1.11 version will throw a build error.

[2019-04-17 05:52] LoganK commented on #126
Trying to push a fix in Pull #125

[2019-04-17 12:00] shabbyrobe opened #128 "Postgres driver included as transitive dependency when using Go modules"
When I run `go get` in a project using `github.com/ericlagergren/decimal`, I see unexpected transitive dependencies in my `go.mod`:

[code]

I'm not using postgres in this project, I just need arbitrary precision decimals, so I'd prefer that this wasn't appearing in my `go.mod` as it will be confusing to other developers (and probably "future me" too).

[2019-04-17 16:04] ericlagergren commented on #128
Hm. I might have to make the SQL subpackage its own module then.

Ideally, I’ll just deprecate it then remove it when the decimal decomposition proposal is merged.

[2019-04-17 16:05] ericlagergren commented on #126
Will fix this ASAP.

Also, now that this package uses modules please use specific versions instead of relying on master.

I understand not everybody uses modules, so I try to make sure master isn’t broken. But things happen. :)

[2019-04-17 16:07] #126 closed, assigned to nobody

[2019-04-18 03:44] shabbyrobe commented on #128
Thanks for the quick reply!

I have a similar problem with one of my own repos so I've been trying to flush out exactly what the best way of dealing with this from the mountain of closed, diverted, redirected or atrophied issues on the subject on the golang github... it occurs to me that I probably don't actually even know what the right thing to do here is!

Is multiple modules in the one reposit

[2019-04-20 04:53] ericlagergren commented on #128
Yeah, nested modules is supported. I think the Go team was looking at doing that for some of its repos. Or maybe the did already.

The next version I release is going to be 4.0, so I might just delete it and avoid any weird module pains.

[2019-04-20 05:02] ericlagergren opened #129 "Mul(Inf, <big value>) returns NaN2, want Infinity"
CI failure.

[2019-04-20 05:16] #129 closed, assigned to ericlagergren

[2019-04-23 08:51] susuper opened #130 "Using decimal.Big as a map key"
Hello.
I would like to use decimal.Big as a map key. At the moment it seems to be impossible. Is there any work-around to allow decimal.Big to be a map key?

[2019-04-24 03:36] ericlagergren commented on #130
I would convert the decimal to a string and store that. You might have to adjust for differing scales. E.g., 4*10^1 vs 40*10^0. Off the top of my head, you can achieve this via `(*decimal.Big).Set` and some pre-defined `Context`.

For reference: at the moment, slices can't be used as map keys and `decimal.Big` contains slices by virtue of using `big.Int`. Pointers _can_ be used in maps, but Go imp

[2019-04-24 05:53] susuper commented on #130
Thank you for detailed explanation and for the great decimal library!

[2019-04-24 05:53] #130 closed, assigned to nobody

[2019-04-25 03:22] shabbyrobe commented on #128
Oh you mean just delete the `go.mod` entirely for the time being? That won't cause me any trouble but could it cause trouble for others? Or is that sidestepped by the major version bump?

[2019-04-25 04:53] ericlagergren commented on #128
Sorry, “it” meaning the sql/ subpackage.

[2019-05-07 11:29] lopezator opened #131 "test: TestBig_Float is trying to print using wrong type"
Any project depending on decimal would get this error when executing `go test all`, specifically:

[code]

The problem is that `*big.Float` cannot be printed using `%f`as it's a struct.

[2019-05-07 14:31] #131 closed, assigned to nobody

[2019-07-12 05:49] yarco opened #133 "Inconsistent comments"
https://github.com/ericlagergren/decimal/blob/ac8aeb47a55cc0f667ba2f6ab469753b5b682b22/big.go#L948

The comment to `Quantize` is misleading. You need to set

https://en.wikipedia.org/wiki/Rounding#Rounding_towards_zero
for the method to behave as Truncate

[2019-07-12 19:58] ericlagergren commented on #133
Yes, thank you for pinging me about this. After I made the change to add the docs I realized the mistake, but forgot to fix it.

Would you mind adding those docs? Would be appreciated!

[2019-07-14 01:20] #133 closed, assigned to nobody

[2019-07-21 14:17] kardianos commented on #128
Support for the decomoser interface is in master in database/sql.

[2019-08-20 22:39] yarco opened #138 "SetRat can modify the input argument"
[code]

`d.Denom()` can potentially modify x. If many goroutines have handles to `x` we can have a race

[2019-08-22 17:01] ericlagergren commented on #138
Have you experienced races in practice? The call to `x.IsInt` should catch the case where `x.Denom` materializes the denominator.

[2019-08-22 17:06] yarco commented on #138
No, I've not experienced races in practice. Spotted this by chance. To be on the safe side I clone my input number using `new(big.Rat).Set(number)` and then pass it into `SetRat`

[2019-08-29 02:13] ericlagergren commented on #138
Okay. Because the code is checking whether the denominator is 1 (via IsInt) prior to calling Denom, the code is race-free.

I appreciate you opening the issue!

[2019-08-29 02:13] #138 closed, assigned to ericlagergren

[2019-09-12 14:49] ericlagergren commented on #128
Will close this once I've deleted the sql/ package, likely when I (finally) cut v4.

[2019-09-25 04:29] k1ng440 opened #140 "performance benchmark does not seem to match published benchmark"
Hello,
I am benchmarking with following

[code]

Test result:
[code]

[2019-09-25 16:38] ericlagergren commented on #140
I don't know where those benchmarks are from. There are only two posted benchmarks (https://github.com/ericlagergren/decimal/blob/2c3e3e1ef942ac4ca58d18a6bc27a0c784d621e8/benchmarks/doc.go): pi and mandelbrot.

At any rate:

1. I'm not sure what benchmarking SetString demonstrates, it's a rather inexpensive operation cf division, etc.
2. My benchmarks need to be updated to Go 1.13, newer library v

[2019-10-01 23:14] ericlagergren commented on #140
Unless there's anything else, I'm going to close this as there's nothing here to fix.

[2019-10-01 23:14] #140 closed, assigned to nobody

[2019-10-05 16:03] eduardhasanaj opened #141 "Json deconing throws nil dereference"
Hi,
I am seeing and error from this lib at this line
github.com/ericlagergren/decimal@v0.0.0-20190912144844-2c3e3e1ef942/scan.go:43 +0x9e
The error occurred when using json decoder on a model generated by sqlboiler.

[2019-10-05 16:52] ericlagergren commented on #141
Could you post a code same that I could use to reproduce this? The panic on line 43 is ostensibly because the recover is nil, which is likely due to the generated code. I’m not familiar with sqlboiler.

[2019-10-05 18:53] eduardhasanaj commented on #141
I am sorry for not providing the code.
[code]
If I invoke scan on the Price before decoding I do not get the error.
The problem is that I need this to decode an array

[2019-10-05 19:03] ericlagergren commented on #141
Hm. Sounds similar to https://github.com/volatiletech/sqlboiler/issues/404. Perhaps I should revisit that issue.

[2019-10-09 16:38] aarondl opened #142 "SetFloat64 gives somewhat insane result"
Hi Eric, while implementing the solution to 404 I ran into this in my test, it seems fairly concerning:

[code]

Output:

[code]

This is on commit: 2c3e3e1 (GOPATH mode).

[2019-10-09 16:41] aarondl commented on #141
I've corrected this as ericlagergren suggested in his PR to sqlboiler. Will be in the dev branch for now and included in a later release.

[2019-10-09 16:53] aarondl commented on #142
I verified this on v3.3.1 as well.

[2019-10-09 17:17] aarondl opened #143 "Wrapping for database use"
Hi @ericlagergren, more trouble from the sqlboiler world :)

Issue https://github.com/volatiletech/sqlboiler/issues/607 details the failure to be able to insert our wrapper type into the database anymore. After reconstructing a small sample that looks like this:

[code]

I've found the following results:

* On v3.3.1 this code simply works
* On the master branch of `decimal` this same code fails w

[2019-10-09 17:58] ericlagergren commented on #142
This is correct behavior. `SetFloat` sets `z` to *exactly* `x`.

Because base-2 floating point numbers cannot represent all numbers, `x` isn't *just* `54.45`: https://play.golang.org/p/AfYwG79letc

Other packages [1] [2] work around this by converting the input to a string, then converting the string to a decimal.

IMO, the user of the package should be allowed to decide whether or not they want t

[2019-10-09 18:30] ericlagergren commented on #143
So, this is what's up: https://github.com/golang/go/issues/34315

The `lib/pq` package currently does not recognize the decomposer interface. I've opened an issue there: https://github.com/lib/pq/issues/904

At first blush, I'm not sure whether this is a bug in `lib/pq` or the stdlib. If `lib/pq` adds support then the issue will be resolved, but the stdlib could also fix the issue by not having th

[2019-10-09 18:41] ericlagergren commented on #143
I'm gonna try opening a PR in `lib/pq` later this week. https://github.com/ericlagergren/pq/commit/92294e9b1445a4d38ecf46bcf03b780ca34b6d07

[2019-10-10 00:20] aarondl commented on #142
That's fine. As long as its expected behavior.

As for additional methods for the overhead I'd first ask the question: What would most users of this package expect `SetFloat64()` to do? What it does, or what I expected it would do?

My point in asking the question being that `SetFloat64()` should be the thing that most users wouldn't be surprised by (as many laymen - myself included use it) but th

[2019-10-10 00:20] #142 closed, assigned to nobody

[2019-10-10 00:22] aarondl commented on #143
Sounds good. As for now I've informed sqlboiler users to stick to tagged versions, which they should have been doing anyway. But go get makes it too convenient to not do that and many people are still not using go modules (for very good reasons mind you).

[2019-10-10 00:26] ericlagergren commented on #142
Honestly, probably the former. Originally, that's how I implemented it. But I changed it soon after because (1) the overhead was significant, and (2) the Go stdlib's implementations of `(*T).SetFloat64` implement the _latter_. Even though I've my share of complaints with `math/big`, I figured most people would be familiar enough with it that it would make it easier to use this package.

I think I'

[2019-10-18 21:41] mediocregopher opened #146 "math.Pow returns strange (and very wrong) result for 0.5^1"
Test case:

[code]

Outputs:

[code]

Looks like 0.5^1 gives sqrt(2)/2, which doesn't make a hell of a lot of sense but here we are.

[2019-10-18 22:26] #146 closed, assigned to nobody

[2019-10-18 22:26] ericlagergren commented on #146
Thank you.

[2019-10-19 02:13] mediocregopher commented on #146
np, thanks for the quick fix :)

[2019-11-24 21:03] eduardhasanaj opened #149 "MaxScale not working"
I am trying to have fixed scale after multiply operations
I trient to set MaxScale before mult but the scale becomes twice.
What is the correct way to handle this?

[2019-11-25 15:07] eduardhasanaj commented on #149
@ericlagergren please any help on that is appreciated. I need to have only two digits after decimal point like 5.00.

[2019-11-28 01:30] ericlagergren commented on #149
Could you provide an example of what you're trying right now?

[2019-11-29 16:18] eduardhasanaj commented on #149
Here is the code
[code]
When I perform  multiplication I see more than two digits after decimal point.
I  am  using Braintree and for prices it does not make sense tpo have more than two digits after decimal point.

[2019-12-05 20:18] Dexus commented on #112
hey, is there any progress or when will this issue fixed? Its pritty shit if you have to switch to the old days again to use this lib. Modules should today work...

[2019-12-09 10:59] jbactad commented on #141
Hi @aarondl , do we have an update about this issue? If this is already fixed, do we know already when it will be merged?

[2019-12-09 15:19] eduardhasanaj commented on #141
@jbactad Hi,
Currently I am using dev branch for this problem.

[2019-12-14 18:14] aarondl commented on #141
@jbactad As far as I'm concerned this is fixed already in master v3.6.0

[2020-03-22 15:04] bojanz opened #150 "Separate benchmarks to their own package?"
I just tried to use this package via go mod, and was surprised to see that it pulls in cockroachdb/apd, shopspring/decimal, and all other libraries that are benchmarked. That feels a bit wasteful. Would it make sense to move benchmarks to their own package to trim down the dependency list?

[2020-03-27 18:03] ericlagergren commented on #150
This is a good idea, thanks.

[2020-04-14 10:33] bojanz commented on #150
Is there anything I can do to push this along? Or is this blocked on v4?

I am preparing a currency handling package, and using this library instead of cockroachdb/apd is giving me noticeably better performance (on top of a more friendly API), but the go mod issues are giving me pause. Of course, my own API doesn't expose the decimal implementation, so it will be safe to swap out later without bre

[2020-04-16 18:03] ericlagergren commented on #150
If you want to submit a PR that would be fantastic! I haven't had a moment to sit down and do it yet, sorry about that.

[2020-04-27 15:45] zeitlinger opened #151 "trim trailing 0s"
Is there a way to trim trailing 0s like the following?

[code]

Is there a way to format a number with a given number of digits after the "." - something easier than this

[code]

[2020-05-15 13:35] bojanz commented on #151
Maybe you could copy some code from my formatter: https://github.com/bojanz/currency/blob/master/formatter.go

[2020-05-15 13:37] bojanz commented on #150
Apologies, managed to lose track of this.

I tried doing a "go mod init github.com/ericlagergren/decimal/benchmarks" in the benchmarks directly and running "go mod tidy" both there and in the root directory. This cleans up the root directory as expected, but the go.mod in benchmarks/ is incomplete (e.g. missing cockroachdb/apd) for some reason:

[code]

I also get the following warning when runnin

[2020-05-15 13:41] zeitlinger commented on #151
I'm afraid I don't understand it.

What I'm trying to say:
1. I have a working solution for both problems - which I included in the description
2. I'm wondering if the library already supports it - and I just didn't understand it

[2020-05-15 14:17] bojanz commented on #151
Apologies, I read your issue in a hurry and thought you were looking for a better formatting helper.

[2020-05-16 03:48] ericlagergren commented on #151
Just for string formatting? You can use the width verbs. Quantize does what you want too, but modifies the receiver.

[2020-05-18 11:50] zeitlinger commented on #151
ah, this is for the second use case - and works sometimes, but not always

[code]

[2020-06-15 19:55] bojanz commented on #150
Hm, I seem to have misunderstood how go mod works. I ran go mod tidy && go mod vendor and it didn't mention or download the benchmark dependencies. Which makes sense, I don't import the benchmarks package.

Sorry for wasting your time.

[2020-06-15 19:55] #150 closed, assigned to nobody

[2020-06-15 22:41] bojanz opened #153 "SetString("3,60") returns a NaN instead of an error"
I've converted bojanz/currency from cockroachdb/apd to this package, and the tests are green:
https://github.com/bojanz/currency/commit/2a46a5c72473f6305809b03ac851e8bc7fffe95c

However, I was surprised by one difference in behavior between the two packages:
[code]
If I pass "3,60" to SetString(), which is a string with an invalid decimal separator, instead of getting nil, false I get NaN, true.

[2020-06-18 04:42] ericlagergren commented on #153
Interesting! I assume NaN is incorrect, but I’ll need to double check the GDA spec first.

[2020-06-18 04:49] ericlagergren commented on #153
The GDA spec says:

http://speleotrove.com/decimal/daconvs.html#reftonum

Admittedly that’s unfortunate. Returning false sounds like it should be the correct behavior, even if it returns (NaN, false). I’ll see what I can do.

[2020-07-20 01:03] aarondl opened #154 "Decompose interface interfering and breaking"
Hi Eric :)

This issue has been a long-standing thorn in our side:
https://github.com/volatiletech/sqlboiler/issues/803
https://github.com/volatiletech/sqlboiler/issues/607

Problem begins here (I think):
https://github.com/ericlagergren/decimal/commit/50723dcdd23ab847e98361304620c97b0a7e177c

We've been telling people to pin at the last tagged version (v3.3.1) and this works because there hasn't

[2020-07-21 16:39] ericlagergren commented on #154
I suppose it might make sense to drop decomposer support, or have a separate branch for it. Seems to have caused more trouble than benefits.

[2020-07-21 16:40] kardianos commented on #154
@aarondl I'm looking into the issue as well.

[2020-09-24 11:14] M-Lewinski opened #155 "Split a value x ways"
tl;dr How to split value x ways correctly?

Disclaimer: personally I always try to first look for information and details about specific subjects before asking. I hope that this issue may help other people like me who try to move from shopspring/decimal to a library with better performance.

Problem, I’m currently facing is splitting number X ways. For example if we have value 100 that has to be s

[2020-10-20 12:11] hamstah commented on #154
Hi,
Is this still being considered?
Is there a way I can help resolve it?
Thanks!

[2020-10-27 16:22] kardianos commented on #154
Sorry for the delay. This summer was shot.

I analyzed the problem: https://github.com/golang/go/issues/30870#issuecomment-717358078

I would prefer to update database drivers to support decimal values using the decomposer. But it really depends on what the community want to do.

[2020-11-02 19:45] hamstah commented on #154
@kardianos great thanks! Will follow the item there.

[2020-12-01 02:06] jordanlewis opened #156 "Mantissa retrieval?"
Hi,

We're revisiting potential use of this library for https://github.com/cockroachdb/cockroach. https://github.com/cockroachdb/apd has served our needs well so far, but we're taking another look here because of performance. `apd.Decimal` always uses an "inflated" representation, which is good for code simplicity, but not for performance. Now that this library is tested against GDA (#117), we'd l

[2020-12-02 22:52] ericlagergren commented on #156
Commenting here to remind myself to read this when I get home today.

[2020-12-06 22:12] ericlagergren commented on #156
Immediately, you could use `Raw`. If the `uint64` is not 1<<64-1, then it's "valid." Otherwise, the `big.Int` is. Or even `Decompose` could work.

However, like I mentioned before I am open to a more specific API.

[2020-12-18 19:10] jordanlewis commented on #156
Thanks. After spending time playing with the code, I now understand something I didn't before, which is that the compact and inflated representations are both "just" the mantissa, without any special encoding. I think the `Raw` access method is perfectly fine for our use case, so I'll just close this.

[2020-12-18 19:10] #156 closed, assigned to nobody

[2020-12-19 02:01] jordanlewis opened #158 "Big.Float64() returns incorrect results for large integers"
This test case fails, but shouldn't:

[code]

I think the issue is that the `Big.Float64` implementation checks `.IsInt()` to see whether it can convert the decimal into an int64 or a uint64, and then unconditionally attempts to do so. But, `IsInt` can return true for very large integers that aren't representable as `int64` or `uint64`, and only as `float64`. So, we end up incorrectly returning `0

[2021-01-18 16:50] rdingwall commented on #149
It is a little bit unclear how `MaxScale` works at the moment. Consider this example: https://play.golang.org/p/Sv-m8pU3N60

[code]
(Should `x` should contain `Inf` at this point?)

I'm not sure if this is by design or a bug, but it seems `MaxScale` and `MinScale` are only honored by certain operations like `Big.Reduce` and `Big.Round`.

[2021-01-30 19:21] nathanhack opened #161 "Precision on math.Ceil"
I've come across a case that was unexpected.

See the example: https://play.golang.org/p/m06m-0lINTU

During the example I expected the precision in step 4) to be 17.

[2021-02-25 11:54] Trial97 commented on #153
Hi @ericlagergren,

Is there any news regarding this?
Also is the NaN check intended after SetString to see if the decimal.Big was set correctly?

Thanks,
Trial97

[2021-02-25 18:16] ericlagergren commented on #153
The NaN check is to see if the result is NaN, which is a valid GDA decimal.

But like I mentioned before, the library should be updated so that

   SetString("invalid") // NaN, false
   SetString("NaN") // NaN, true

Ultimately, though, you'd still have to check if the result is NaN. A user could pass "NaN" instead of "3,60".

[2021-03-05 17:06] kbespalov opened #162 "[Critical] Invalid rounding algorithm implementation"
Hello!

There is a bug in rounding policy implementation of `Quo(z, x, y *Big)`.

Let's take a look on `quoBig` functions calls inside `Quo()`:

[code]

As you can see, remainer `r` passed to the function as link to `yb` or `xb`, so they are actually the same and equal.

[code]

After calling the function `QuoRem`,  the remaner will be written in `r *big.Int`, it's okay, but `y *big.Int` will be m

[2021-03-07 18:24] #162 closed, assigned to nobody

[2021-03-15 13:11] songmelted opened #164 "math: Pow returns wrong results when base is negative and power is an integer"
https://play.golang.org/p/90KVPuJF2fm

[code]
This code outputs:
[code]

Bug is difficult to reproduce. Sometimes, similar code will not result in the bug for reasons not immediately clear.

[2021-03-17 12:08] songmelted commented on #164
This example code is flawed and the bug is not in the decimal package.

In my haste to make a simple example, I made a bug as well.

[2021-03-17 12:08] #164 closed, assigned to nobody

[2021-06-22 11:23] 1140251 opened #165 "UnmarshalBSON and MarshalBSON serialization"
when saving to mongodb with mongo go driver, the decimal.Big is created with an empty context only.
Maybe you don't want this dependency, but how can serialize this?

As a workaround I'm saving as Float64 and converting to decimal.Big when performing operations, but is not the most eloquent way for me.

[2021-07-19 10:56] cvigo commented on #149
Similar code: https://play.golang.org/p/V4jIH6WX4W4

[code]

[2021-08-30 16:40] tzachshabtay opened #166 "SetString("4e絙谶涩)鶤Ŭ廓+踁YÏ豒=iC÷綳") returns 4 instead of an error"
repro here: https://play.golang.org/p/xLn3Ds6SFjf

[2021-10-22 09:52] ericlagergren commented on #166
According to the GDA spec, an invalid string (like your example) results in NaN.

While I agree that it would be better to return an error here for a syntactically invalid string, the goal of this library is to adhere to the GDA spec. Plus, changing this would be a backward-incompatible change.

If you want to determine why `SetString` returned NaN, you can check for the `ConversionSyntax` Conditi

[2021-10-22 09:52] #166 closed, assigned to nobody

[2021-10-22 09:53] ericlagergren commented on #166
I should update the docs, however, as they're not exactly clear.

[2021-10-22 10:19] ericlagergren commented on #165
Could you elaborate a little bit more?

[2021-10-22 10:29] ericlagergren commented on #161
If you use `ctx.Sub(x, x)` the issue goes away.

It's because, by default, decimals created with `new(Big)`, `var x Big`, etc. use a default `Context` with `DefaultPrecision`. And so the result of subtraction is rounded down and loses a digit.

Note that I really encourage using the `Context` methods instead of the decimal methods. E.g., `ctx.Sub(z, x, y)` instead of `z.Sub(x, y)`. Explicit contex

[2021-10-22 10:29] #161 closed, assigned to nobody

[2021-10-22 11:00] #158 closed, assigned to nobody

[2021-10-22 11:05] ericlagergren commented on #153
You'll want to check the conditions: https://github.com/ericlagergren/decimal/issues/166#issuecomment-949468326

[2021-10-22 11:05] #153 closed, assigned to nobody

[2021-10-22 11:14] ericlagergren commented on #46
Ran it on a Raspberry Pi. Bunch of tests broke.

[2021-10-22 15:40] tzachshabtay commented on #166
@ericlagergren I'm ok with it returning a NaN, when I posted the issue it didn't return NaN though, it returned 4.
I see now in the playground that it's fixed, it does return NaN, was there a recent change that fixed this?
I can still reproduce this with the [version used by SQLBoiler](https://github.com/volatiletech/sqlboiler/blob/233f868828547ee33a6eafb51a9a5fa8206f941f/go.mod#L9), I want to tel

[2021-10-23 00:59] ericlagergren commented on #166
I just fixed it last night. https://github.com/ericlagergren/decimal/commit/f12e1f0a991056e646bffdde424d81f365aca94a

[2021-10-26 16:12] friedemannf opened #171 "undefined: math.MaxInt with Go 1.16"
Recent changes have introduced the use of stdlib's math.MaxInt, see e.g. here:
https://github.com/ericlagergren/decimal/pull/167/files#diff-1ebe9d76178a47d079967d181e236d63579a3be7aa6596f39b1a013badbe1979R772

The new math constants have only been introduced in 1.17 and as of 1.16.9 aren't available in 1.16:
https://go-review.googlesource.com/c/go/+/247058/

Your go.mod states 1.16, leading to und

[2021-10-26 17:42] ericlagergren commented on #171
Yep. Sorry about that. Thought the constant was older.

[2021-10-26 17:43] ericlagergren commented on #171
@friedemannf please check that #172 works for you (I checked with the `go1.16.7` binary I had lying around).

[2021-10-28 09:03] friedemannf commented on #171
@ericlagergren Thanks for your quick response!
Confirmed working with `go1.16.9`
[code]

[code]

[code]

[2021-10-28 14:57] #171 closed, assigned to nobody

[2021-11-09 00:18] trading-peter commented on #165
I think he means that when saving a decimal.Big in mongodb this is the result that is written into the db.
![image](https://user-images.githubusercontent.com/11567985/140838514-25f5e660-4587-4cc7-896f-52ccbe82d2c1.png)
I'm too wondering if it would make if this library would support marshaling into (I guess) a Decimal128 as supported by mongodb.

https://github.com/mongodb/mongo-go-driver/blob/mas

[2021-11-09 15:35] dcullender-cb opened #174 "Float64 conversion"
When converting to float64 using `Float64()`, the value _can_ differ from the input string while `shopspring/decimal` seems to produce the correct result. for example

![image](https://user-images.githubusercontent.com/50367911/140953853-8d62b3fb-31b7-4e13-a7ee-eb17a4b8ba79.png)

Appreciate that the value cannot fit into a float64 as per `ericOk` but curious why the shopspring value matches?

[2021-11-12 21:19] ericlagergren commented on #174
This is because shopspring converts their decimal to a big.Rat, then converts the Rat to a float64. My library converts as-is using float64.

The upside to shopspring’s method is that it won’t round worse than the decimal’s current precision during the conversion. The downside is that converting to a rational number is expensive: you end up with huge numerators and denominators. Plus, you have to

[2022-02-12 12:34] hiromaily opened #175 "ERROR cannot convert type: types.Decimal"
Using latest one, the Error `cannot convert type: types.Decimal` occurred from [sqlboiler](https://github.com/volatiletech/sqlboiler) when inserting data at Decimal type.

For now, workaround is to use very old one.
[code]

Is there any plan to fix this issue on current code?

[2022-02-14 07:15] leeson1995 opened #176 "When scale is negative, the result is sci"
![image](https://user-images.githubusercontent.com/48010956/153816828-34dc626e-ddb2-4170-8d1f-6dd0e19343f1.png)

- why result is sci 3E+3 ，why not 3000

[code]

[2022-02-14 07:17] leeson1995 commented on #176
@ericlagergren pls cc

[2022-04-18 21:50] tzachshabtay commented on #166
@ericlagergren is there any official release for this? Last release is from 2019 afaict.
Thanks.

[2022-05-06 00:06] jstol opened #178 "Incorrect string formatting when rounding up to include additional digit"
I've run into some strange behaviour when converting values to strings that require rounding up. For example, see the code snippet below:
[code]

Other values appear to be fine – this appears to only happen when rounding up to include an additional digit, almost as if the decimal point is being outputted 1 position left from where it should be. Any idea why this may be happening? More examples can

[2022-05-14 21:41] WolfMcPhearson opened #179 "Imports error"
All I am doing is:
[code]
This produces the following:
[code]

[2022-07-25 10:15] MJacred commented on #175
this is a duplicate of  #154

see also https://github.com/volatiletech/sqlboiler/issues/803#issuecomment-660742115

[2022-08-12 19:06] lrettig commented on #46
Note: this https://github.com/pguyot/arm-runner-action may help (it uses qemu). I'm using it successfully here: https://github.com/spacemeshos/economics/blob/main/.github/workflows/go.yml (works with arm64, but tests fail with 32 bit)

[2022-09-13 07:29] tiendc opened #180 "Rounding issue (expect round up, but down)"
I have an issue with rounding numbers.

[code]

Any investigation? thanks.

[2022-09-16 21:30] tzachshabtay commented on #166
@ericlagergren any plans for an official release? 🙏

[2022-09-27 12:54] lotodore commented on #142
Sorry for digging out this old issue, but I've also encountered this "problem".
IMHO, SetRoundedFloat64 and SetRoundedFloat32 would be really helpful. Current `SetString` has multiple return values, which makes code much more verbose than needed. I think in most cases, current `SetFloat64` is not doing what is needed.
Alternatively, "RequireSetString" with single return value would also help. Just

[2022-09-27 23:28] lotodore opened #181 "Benchmarks add unnecessary dependencies"
Due to dependencies to shopspring decimal etc. in the benchmarks folder, this decimal library adds dependencies to these additional libraries to go.sum.
IMHO this is not a good idea, these dependencies are not required for "normal usage". Also, they cause licensing issues.

I would formally need to add shopspring decimal MIT license to my application if I use this decimal library, because it is a

[2022-09-28 08:36] lotodore commented on #180
You can use the context rounding mode to configure Round(...) et al.
https://pkg.go.dev/github.com/ericlagergren/decimal#Context

The default mode is `roundTiesToEven` and, as I see things, conforming to
https://en.wikipedia.org/wiki/IEEE_754-1985#Rounding_floating-point_numbers ("Round to Nearest")

[2022-09-28 08:53] lotodore commented on #178
I just noted I'm also having this issue and it seems like a serious problem. Rounding up to include an additional digit happens all the time and causes some really strange effects on the UI. :-(

[2022-09-28 09:16] lotodore commented on #178
Workaround, use `Quantize` on a copy:
[code]
But I really think this should be fixed.

[2022-09-28 13:17] lotodore commented on #151
@zeitlinger Call `Quantize` twice as a workaround, this will lead to 100.00 (and also works if precision is 0)

Looking at the date of this issue... Is this library still supported, or "kind of archived"?

[2022-09-28 13:34] lotodore commented on #176
@leeson1995 The value 3E+3 is correct and equals 3000. Use "f" format to print non-sci value:
[code]

[2022-10-06 19:34] ericlagergren commented on #181
@lotodore would you mind sending a PR?

[2022-10-06 19:35] ericlagergren commented on #151
@lotodore I just haven't had a lot of time to work on it lately. But I will always make time to review and accept PRs.

[2022-10-07 10:48] lotodore commented on #181
I cannot create a new github project in a pull request, but I've submitted a pull request which (to my knowledge) prepares everything.

[2022-10-12 21:39] ericlagergren commented on #181
et voila https://github.com/ericlagergren/decimal_benchmarks

[2022-10-13 21:50] lotodore commented on #181
Thanks. Should I directly add the files there?

[2022-10-13 22:23] ericlagergren commented on #181
Yes, please!

[2022-11-01 21:20] lotodore commented on #181
Fixed by https://github.com/ericlagergren/decimal/pull/183

[2022-11-01 21:20] #181 closed, assigned to nobody

[2022-11-01 21:22] lotodore commented on #128
This has been fixed by https://github.com/ericlagergren/decimal/pull/183 so in my opinion could be closed.

[2022-11-03 10:06] shabbyrobe commented on #128
Agreed. Thanks!

[2022-11-03 10:06] #128 closed, assigned to nobody